<div>
    <div class="gauge" ng-class="{'gauge-inverse': inverse}">
        <div class="guage-min">{[min]}</div>
        <div class="masked"></div>
        <div class="inset"></div>
        <div class="dial gauge-result-color">
            <div class="dial-inset">
                <div class="dial-inset-value">{[value]}</div>
            </div>
        </div>
        <div class="needle"></div>
        <div class="guage-max">{[max]}</div>
    </div>
    <div class="gauge-description">
        <h4>{[metricTitle]}</h4>
        <p>{[description]} <a href="{[learnMore]}" ng-if="learnMore">  Learn more.</a></p>
    </div>
</div>