{% load humanize %}
{% load firecares %}
{% load cache %}

{% cache 600 fire-department-card department.id %}
<div class="ct-itemProducts ct-u-marginBottom30 ct-hover fire-department-card">

    {% if object.recently_updated %}
        <label class="control-label sale">
            Recently updated
        </label>
    {% endif %}

    <a href="{{ department.get_absolute_url }}">
        <div class="ct-main-content">
            <div class="ct-imageBox">
                <img src="{{ department.thumbnail }}" alt=""><i class="fa fa-eye"></i>
            </div>
            <div class="ct-main-text">
                <div class="ct-product--tilte">
                    {{ department.name }}
                </div>
            </div>
        </div>
        <div class="ct-product--meta">
            <div class="ct-icons">
                <span tooltip="Predicted number of fires" tooltip-append-to-body="true" tooltip-popup-delay="700">
                    <i class="fa fa-fire"></i>
                    {{ department.predicted_fires_sum|floatformat:"0"|intcomma|default:"N/A" }}
                </span>
                <span tooltip="Performance score" tooltip-append-to-body="true" tooltip-popup-delay="700">
                    <i class="fa fa-clock-o"></i>
                    {% if department.dist_model_score %}
                        {{ department.dist_model_score|floatformat:"0" }}s
                    {% else %}
                        N/A
                    {% endif %}
                </span>
                <span tooltip="Protected population" tooltip-append-to-body="true" tooltip-popup-delay="700">
                    <i class="fa fa-users"></i> {{ department.population|abbreviatedintword }}
                </span>
                <span tooltip="State" tooltip-append-to-body="true" tooltip-popup-delay="700">
                    <i class="fa fa-map-pin"></i> {{ department.state }}
                </span>
            </div>
            <div class="ct-text"></div>
        </div>
    </a>
</div>
{% endcache %}