{% load humanize %}
{% load firecares %}
<div class="ct-itemProducts ct-u-marginBottom30 ct-hover fire-department-card">
    <label class="control-label sale">
        Recently updated
    </label>
    <a href="{{ department.get_absolute_url }}">
        <div class="ct-main-content">
            <div class="ct-imageBox">
                {% if department.geom %}
                    <img src="http://api.tiles.mapbox.com/v4/garnertb.mmlochkh/pin-l-embassy+0074D9({{ department.geom.centroid.x }},{{ department.geom.centroid.y }})/{{ department.geom.centroid.x }},{{ department.geom.centroid.y }},8/500x300.png?access_token=pk.eyJ1IjoiZ2FybmVydGIiLCJhIjoiNW5ZYkExNCJ9.sIFdyxQ4n1UQFEenEJ1RGg" alt=""><i class="fa fa-eye"></i>
                {% elif department.headquarters_address.geom %}
                    <img src="http://api.tiles.mapbox.com/v4/garnertb.mmlochkh/pin-l-embassy+0074D9({{ department.headquarters_address.geom.centroid.x }},{{ department.headquarters_address.geom.centroid.y }})/{{ department.headquarters_address.geom.centroid.x }},{{ department.headquarters_address.geom.centroid.y }},8/500x300.png?access_token=pk.eyJ1IjoiZ2FybmVydGIiLCJhIjoiNW5ZYkExNCJ9.sIFdyxQ4n1UQFEenEJ1RGg" alt=""><i class="fa fa-eye"></i>
                {% else %}
                    <img src="{{STATIC_URL}}firestation/theme/assets/images/content/property-1.jpg" alt=""><i class="fa fa-eye"></i>
                {% endif %}

            </div>
            <div class="ct-main-text">
                <div class="ct-product--tilte">
                    {{ department.name }}
                </div>
                <div class="ct-product--description">
                    {{ department.station_address.address_line1 }}
                </div>
            </div>
        </div>
        <div class="ct-product--meta">
            <div class="ct-icons">
                <span>
                    <i class="fa fa-building-o"></i> {{ department.firestation_set.count }}
                </span>
                <span>
                    <i class="fa fa-clock-o"></i> {{ department.dist_model_score|floatformat:"0" }}s
                </span>
                <span>
                    <i class="fa fa-users"></i> {{ department.population|abbreviatedintword }}
                </span>
            </div>
            <div class="ct-text"></div>
        </div>
    </a>
</div>