{% load compress %}

{% compress js %}
<script src="{{STATIC_URL}}firestation/theme/assets/js/jquery.min.js"></script>
<script src="{{STATIC_URL}}angularjs/angular.min.js"></script>
<script src="{{STATIC_URL}}angularjs/angular-sanitize.min.js"></script>
<script src="{{STATIC_URL}}angularjs/angular-resource.min.js"></script>
<script src="{{STATIC_URL}}angular-ui/ui-bootstrap-tpls-0.13.3.min.js"></script>
<script src="{{STATIC_URL}}firestation/theme/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}crossfilter/crossfilter.min.js"></script>
<script src="{{STATIC_URL}}angular-xeditable/xeditable.min.js"></script>
<script src="{{ STATIC_URL }}leaflet/leaflet.js"></script>
<script src="{{ STATIC_URL }}leaflet-fullscreen/Leaflet.fullscreen.min.js"></script>
<script src="{{ STATIC_URL }}leaflet-mapbox-vector-tile/Leaflet.MapboxVectorTile.min.js"></script>
<script src="{{ STATIC_URL }}firestation/Leaflet.FireCARESMarkers.js"></script>
<script src="{{ STATIC_URL }}firestation/leaflet-heat.js"></script>
<script src="{{ STATIC_URL }}firestation/esri2geo.js"></script>
<script src="{{ STATIC_URL }}firestation/spin.js"></script>
<script src="{{ STATIC_URL }}firestation/leaflet.spin.js"></script>
<script src="{{ STATIC_URL }}firestation/leaflet.shpfile.js"></script>
<script src="{{ STATIC_URL }}firestation/shp.js"></script>
<script src="{{ STATIC_URL }}d3/d3.min.js"></script>
<script src="{{ STATIC_URL }}d3/d3.tip.js"></script>
<script src="{{ STATIC_URL }}nvd3/nv.d3.js"></script>
<script src="{{ STATIC_URL }}firestation/js/bulletChart.js"></script>
<script src="{{ STATIC_URL }}firestation/js/services/factories.js"></script>
<script src="{{ STATIC_URL }}firestation/js/services/mapService.js"></script>
<script src="{{ STATIC_URL }}firestation/js/services/heatmapService.js"></script>
<script src="{{ STATIC_URL }}firestation/js/services/favoriteService.js"></script>
<script src="{{ STATIC_URL }}firestation/js/controllers/home.js"></script>
<script src="{{ STATIC_URL }}firestation/js/controllers/departmentDetail.js"></script>
<script src="{{ STATIC_URL }}firestation/js/controllers/userAdminController.js"></script>
<script src="{{ STATIC_URL }}firestation/js/controllers/whitelistAdminController.js"></script>
<script src="{{ STATIC_URL }}firestation/js/controllers/userInviteController.js"></script>
<script src="{{ STATIC_URL }}firestation/js/controllers/firestationDetail.js"></script>
<script src="{{ STATIC_URL }}firestation/js/controllers/departmentSelectionController.js"></script>
<script src="{{ STATIC_URL }}firestation/js/controllers/requestApprovalController.js"></script>
<script src="{{ STATIC_URL }}firestation/js/controllers/performanceScore.js"></script>
<script src="{{ STATIC_URL }}firestation/js/directives/gauge.js"></script>
<script src="{{ STATIC_URL }}firestation/js/directives/search.js"></script>
<script src="{{ STATIC_URL }}firestation/js/directives/graphs.js"></script>
<script src="{{ STATIC_URL }}firestation/js/directives/inlinemap.js"></script>
<script src="{{ STATIC_URL }}firestation/js/directives/feedback.js"></script>
<script src="{{ STATIC_URL }}firestation/js/app.js"></script>
<script src="{{STATIC_URL}}firestation/theme/assets/js/select2/select2.min.js"></script>
<script src="{{STATIC_URL}}firestation/theme/assets/js/ui-select2/ui-select2.min.js"></script>
<script src="{{STATIC_URL}}firestation/theme/assets/js/slider-bootstrap/bootstrap-slider.js"></script>
<script src="{{STATIC_URL}}firestation/theme/assets/js/ct-mediaSection/jquery.stellar.min.js"></script>
<script src="{{STATIC_URL}}firestation/theme/assets/js/owl/owl.carousel.min.js"></script>
<script src="{{STATIC_URL}}firestation/theme/assets/js/responsive-paginate/responsive-paginate.js"></script>
<script src="{{STATIC_URL}}firestation/theme/assets/js/dependencies.js"></script>
<script src="{{STATIC_URL}}firestation/theme/assets/js/main.js"></script>

<!--[if lt IE 9]>
<script src="{{STATIC_URL}}firestation/theme/assets/bootstrap/js/html5shiv.min.js"></script>
<script src="{{STATIC_URL}}firestation/theme/assets/bootstrap/js/respond.min.js"></script>
<![endif]-->
<script src="{{STATIC_URL}}firestation/theme/assets/js/modernizr.custom.js"></script>
{% include "osgeo_importer/_importer_scripts.html" %}
{% endcompress js %}
