<footer>
    <div class="ct-footer--extended ct-u-paddingBoth60">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <h4 class="ct-u-marginBottom30">About FireCARES</h4>
                    <div class="ct-u-marginBottom30">
                        <span>Analyze how fire department resources are deployed to match a community's risks.</span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <h4 class="ct-u-marginBottom30">Contact us</h4>

                    <div class="ct-contactList ">
                        <a href="mailto:data@firecares.org"><i class="fa fa-envelope-o"></i>data@firecares.org</a>
                        <a href="mailto:contact@firecares.org"><i class="fa fa-envelope-o"></i>contact@firecares.org</a>
                    </div>

                    <ul class="ct-panel--socials ct-panel--navbar list-inline list-unstyled ct-u-marginBottom30">
                        <li><a href="https://github.com/FireCARES"><div class="ct-socials ct-socials--circle"><i class="fa fa-github"></i></div></a></li>
                    </ul>

                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 ">
                    <h4 class="ct-u-marginBottom30">Quick links</h4>
                    <div class="row">
                        <div class="ct-links">
                            <div class="col-md-6">
                                <a class="text-capitalize" href="{% url 'firestation_home' %}">Home</a>
                                <a class="text-capitalize" href="{% url 'firedepartment_list' %}">Browse Departments</a>
                                {% if user.is_authenticated %}
                                <a class="text-capitalize" href="{% url 'firedepartment_list' %}?favorites=true">Favorite Departments</a>
                                <a class="text-capitalize" href="{% url 'firestation_favorite_list' %}">Favorite FireStations</a>
                                {% endif %}
                                <a class="text-capitalize" href="{% url 'models_community_risk' %}">Community Risk</a>
                                <a class="text-capitalize" href="{% url 'models_performance_score' %}">Performance Score</a>
                                <a class="text-capitalize" href="{% url 'media' %}">FireCARES in the Media</a>
                            </div>
                            <div class="col-md-6">
                                {% if not user.is_authenticated %}
                                <a href="{% url 'registration_register' %}" class="text-capitalize">sign up</a>
                                <a href="{% url 'login' %}?next={% url 'firedepartment_list' %}" class="text-capitalize">login</a>
                                {% else %}
                                <a href="{% url 'logout' %}" class="text-capitalize">logout</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2 col-md-4 col-lg-2">
                        <h4 class="ct-u-marginBottom30">Developed by</h4>
                        <a href="http://www.firereporting.org" target="_blank">
                            <div class="ct-main-content">
                                <div class="ct-imageBox">
                                    <img height="165" src="{{STATIC_URL}}safety-and-deployment-blue.jpg" alt="Fire Fighter Safety and Deployment Study"/>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ct-postFooter ct-u-paddingBoth20">
        <a href="#" class="ct-scrollUpButton ct-js-btnScrollUp">
           <span class="ct-sectioButton--square">
               <i class="fa fa-angle-double-up"></i>
           </span>
        </a>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    {% include "firestation/_copyright.html" %}
                    <span class="ct-copyright pull-right-sm">Designed and built by: <a class="ct-copyright-link" href="http://www.prominentedge.com" target="_blank">Prominent Edge</a></span>
                </div>
            </div>
        </div>
    </div>
</footer>
