


<footer>
    <div class="ct-footer--extended ct-u-paddingBoth60">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <h4 class="ct-u-marginBottom30">About FireCARES</h4>
                    <div class="ct-u-marginBottom30">
                        <span>FireCARES allows you to analyze how fire department resources are deployed against a communities inherent risk level.</span>
                    </div>
                    <ul class="list-unstyled">
                        <li class="ct-u-marginBottom10">
                            <i class="fa fa-home"></i>
                            <span class="ct-fw-600">Address:</span><span> 1234 Street Name, San Fransico, United States</span>
                        </li>
                        <li class="ct-u-marginBottom10">
                            <i class="fa fa-envelope-o"></i>
                            <span class="ct-fw-600">E-mail:</span><span> firecares@iaff.org</span>
                        </li>
                        <li>
                            <i class="fa fa-fax"></i>
                            <span class="ct-fw-600">Fax:</span><span> 0 123 456 7890</span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <h4 class="ct-u-marginBottom30">Contact us</h4>
                    <ul class="list-unstyled ct-phoneNumbers ct-u-marginBottom30">
                        <li>
                            <i class="fa fa-phone"></i>
                            <span class="ct-fw-600">0 800 123 4567</span>
                        </li>
                        <li>
                            <i class="fa fa-fax"></i>
                            <span class="ct-fw-600">0 800 123 4562</span>
                        </li>
                        <li>
                            <i class="fa fa-mobile"></i>
                            <span class="ct-fw-600">+1 500 700 800</span>
                        </li>
                    </ul>
                    <ul class="ct-panel--socials ct-panel--navbar list-inline list-unstyled ct-u-marginBottom30">
                        <li><a href="https://www.facebook.com/createITpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-facebook"></i></div></a></li>
                        <li><a href="https://twitter.com/createitpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-twitter"></i></div></a></li>
                        <li><a href="#"><div class="ct-socials ct-socials--circle"><i class="fa fa-instagram"></i></div></a></li>
                    </ul>
                    <div class="ct-contactList ">
                        <a href="#"><i class="fa fa-envelope-o"></i>questions@estato.com</a>
                        <a href="#"><i class="fa fa-envelope-o"></i>sales@estato.com</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 ">
                    <h4 class="ct-u-marginBottom30">Quick links</h4>
                    <div class="row">
                        <div class="ct-links">
                            <div class="col-md-6">
                                <a class="text-capitalize" href="#">List Property</a>
                                <a class="text-capitalize" href="#">Home</a>
                                <a class="text-capitalize" href="#">Properties</a>
                                <a class="text-capitalize" href="#">Agents</a>
                                <a class="text-capitalize" href="#">Fratures</a>
                                <a class="text-capitalize" href="#">About Us</a>
                                <a class="text-capitalize" href="#">Contact Us</a>
                            </div>
                            <div class="col-md-6">
                                <a class="text-capitalize" href="#">Login</a>
                                <a class="text-capitalize" href="#">Register</a>
                                <a class="text-capitalize" href="#">Pricing</a>
                                <a class="text-capitalize" href="#">Terms & Conditions</a>
                                <a class="text-capitalize" href="#">Privacy Policy</a>
                                <a class="text-capitalize" href="#">Purchase Estato</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <h4 class="ct-u-marginBottom30">Recently Updated</h4>
                    <div class="ct-itemProducts--small ct-itemProducts--small-type2">
                        <a href="product-single.html">
                            <div class="ct-main-content">
                                <div class="ct-imageBox">
                                    <img src="{{STATIC_URL}}firestation/theme/assets/images/content/recently-reduced-thumbnail-1.jpg" alt="">
                                </div>
                                <div class="ct-main-text">
                                    <div class="ct-product--tilte">
                                        9544 Umber View, Inspiration
                                    </div>
                                    <div class="ct-product--price">
                                        <span>$ 650/month</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ct-postFooter ct-u-paddingBoth20">
        <a href="#" class="ct-scrollUpButton ct-js-btnScrollUp">
           <span class="ct-sectioButton--square">
               <i class="fa fa-angle-double-up"></i>
           </span>
        </a>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <span class="ct-copyright">&copy; {% now "Y" %} FireCARES. All rights reserved. </span>
                </div>
            </div>
        </div>
    </div>
</footer>