<div class="ct-productMeta--single">
    <div class="row usgs-messages">
        <div class="col-md-12 col-lg-12">
            <ul>
                {% for message in messages %}
                <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success{% else %}alert-danger{% endif %}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
                {% endfor %}
                {% if use_angular %}
                    <div class="alert" role="alert" ng-repeat="message in messages" ng-class="message.class">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span ng-bind="message.text"/>
                    </div>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row weather-messages">
        <div class="col-md-12 col-lg-12">
            {% for message in weather_messages %}
                <div class="alert" role="alert" ng-repeat="message in weather_messages" ng-class="message.class">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!-- <span ng-bind="message.url"/> -->
                    <span ng-bind-html="message.text"/>
                </div> 
            {% endfor %}
            {% if use_angular %}
                <div class="alert" role="alert" ng-repeat="message in weather_messages" style="margin-top: 9px;max-height: 38px;padding-top: 0px;margin-bottom: -2px" ng-class="message.class">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!-- <span ng-bind="message.url"/> -->
                    <span ng-bind-html="message.text"/>
                </div>
            {% endif %}
        </div>
    </div>
</div>