<div class="ct-topBar ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="ct-panel--user ct-panel--right text-right">
                    <div class="ct-panel--item search-wrapper">
                        <form id="slide" role="form" method="get" action="{% url 'firedepartment_list' %}/">
                        <i class="fa fa-search"></i>
                        <input placeholder="Search" name="q" type="text" class="form-control input-lg ct-input--search">
                         <button type="submit" style="display: none"></button>
                        </form>
                    </div>
                    <div class="ct-panel--item ct-email">
                        {% if request.user.is_anonymous %}
                            <a href="{% url 'login' %}"><i class="fa fa-user"></i> Login</a>
                        {% else %}
                            <a href="{% url 'logout' %}"><i class="fa fa-user"></i> Logout</a>
                        {% endif %}
                    </div>
                    <div class="ct-panel--item ct-email">
                        {% if request.user.is_anonymous %}
                            <a href="{% url 'registration_register' %}"><i class="fa fa-plus-square"></i> Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar ct-navbar--hoverEffectLine" role="navigation" data-heighttopbar="40px" data-startnavbar="0">
    <div class="container">
        <div class="navbar-header ct-panel--navbar">
            <a href="{% url 'firestation_home' %}" class="logo" rel="home"><h1>FireCARES</h1></a>
        </div>
        <div class="collapse navbar-collapse text-uppercase">
            <ul class="nav navbar-nav ct-navbar--fadeInUp">
                <li class="onepage"><a href="{% url 'firestation_home' %}#about">About</a></li>
                <li class="onepage"><a href="{% url 'firestation_home' %}#partners">Partners</a></li>
                <li class="onepage active"><a href="{% url 'firedepartment_list' %}">Search</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="ct-shapeBottom"></div>
    </div>
</nav>
