<nav class="navbar ct-navbar--hoverEffectLine" role="navigation" data-heighttopbar="40px" data-startnavbar="0">
    <div class="container">
        <div class="navbar-header ct-panel--navbar">
            <a href="{% url 'firestation_home' %}" class="logo" rel="home"><h1>FireCARES</h1></a>
        </div>
        <div class="collapse navbar-collapse text-uppercase">
            <ul class="nav navbar-nav ct-navbar--fadeInUp">
                <li class="onepage"><a href="{% url 'firestation_home' %}#about">About</a></li>
                <li class="onepage"><a href="{% url 'firedepartment_list' %}">Search</a></li>
                <li class="onepage"><a href="{% url 'media' %}">Media</a></li>
                <li class="onepage"><a href="{% url 'firestation_home' %}#partners">Partners</a></li>
                <li class="onepage"><a href="{% url 'contact_us' %}">Contact Us</a></li>
                <li class="onepage"><a href="{% url 'faq.html' %}">FAQs</a></li>
                <li class="onepage"><a href="{% url 'videos.html' %}" class="text-uppercase">videos <small>New</small> </a></li>
                {% if request.user.is_anonymous %}
                    <li class="onepage"><a href="{% url 'registration_register' %}">Request Account</a></li>
                    <li class="onepage"><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
                {% else %}
                    <li class="onepage"><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="ct-shapeBottom"></div>
    </div>
</nav>
