{% load firecares %}

<div class="ct-pagination text-center ct-u-marginBottom30">
    <ul class="pagination">
    {% if page_obj.has_previous %}
            <li><a href="?page={{page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a></li>
    {% endif %}

        {% for p in page_obj.paginator.page_range %}
            {% if p != page_obj.number %}
                 <li><a href="?{% url_replace request 'page' p %}">{{ p }}</a></li>
            {% else %}
                 <li class="active"><a href="?page={{ p }}">{{ p }}</a></li>
            {% endif %}
        {% endfor %}

    {% if page_obj.has_next %}
            <li><a href="?page={{page_obj.next_page_number}}" aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-right"></i></span></a></li>
    {% endif %}
    </ul>
</div>