<div class="ct-heading ct-u-marginBoth60">
    <h3 class="text-uppercase">our partners</h3>
</div>
<div class="ct-js-owl" data-items="6" data-navigation="false" data-autoPlay="true" data-single="false" data-pagination="false">

    <div class="item"><a href="http://www.fema.gov/welcome-assistance-firefighters-grant-program" target="_blank" title="Assistance to Firefighters Grant Program">
    <img width="165" height="165px" src="{{STATIC_URL}}partners/assistance.png"></a></div>

    <div class="item"><a href="http://publicsafetyexcellence.org/agency-accreditation/about-accreditation-cfai.aspx" target="_blank" title="CFAI RISK">
    <img width="165" height="165px" src="{{STATIC_URL}}partners/cfai-risk.jpg"></a></div>


     <div class="item"><a href="http://www.iafc.org/" target="_blank" title="International Association of Fire Chiefs">
     <img width="165" height="165px" src="{{STATIC_URL}}partners/iafc.jpg"></a></div>

     <div class="item"><a href="http://www.iaff.org/" target="_blank" title="International Association of Fire Fighters">
     <img width="165" height="165px" src="{{STATIC_URL}}partners/iaff.jpg"></a></div>

     <!--<div class="item"><a href="http://www.nfpa.org/member-access/member-sections/metropolitan-fire-chiefs" target="_blank" title="Metropolitan Fire Chiefs">
     <img width="165" height="165px" src="{{STATIC_URL}}partners/metropolitan-fire-chiefs.jpg"></a></div>-->

     <div class="item"><a href="http://www.nist.gov/index.html" target="_blank" title="NIST">
     <img width="165" height="165px" src="{{STATIC_URL}}partners/nist.jpg"></a></div>

     <!--<div class="item"><a href="http://www.utexas.edu/" target="_blank" title="The University of Texas">
     <img width="343" height="100" src="{{STATIC_URL}}partners/ut.png"></a></div>-->

     <div class="item"><a href="http://www.urban.org/" target="_blank" title="The Urban Institute">
     <img width="165" height="165px" src="{{STATIC_URL}}partners/urban.png"></a></div>

     <div class="item"><a href="http://www.usfa.fema.gov/" target="_blank" title="USFA">
     <img width="165" height="165px" src="{{STATIC_URL}}partners/usfa.png"></a></div>

     <div class="item" width="165"><a href="http://www.wpi.edu/" target="_blank" title="WPI">
     <img width="165" height="165px" src="{{STATIC_URL}}partners/wpi.gif"></a></div>
</div>