<div class="ct-headerText--normal">
    <h2 class="text-uppercase ct-fw-600 ct-u-marginBottom20">
        What is your
        <span class="ct-u-text--motive">SafeGrade?</span>
    </h2>
</div>
<div class="ct-iconBox ct-u-marginBottom40 ct-iconBox--2col">
    <div class="ct-icon text-center marketing-icon">
        <i class="icon-location-pin ct-fw-600"></i>
    </div>
    <div class="ct-iconBox--description">
        <span class="ct-title text-uppercase ct-fw-600">Identify Risks</span>
        <span class="ct-text">Identify the socio-economic risk factors for your community.</span>
    </div>
</div>
<div class="ct-iconBox ct-u-marginBottom40 ct-iconBox--2col">
    <div class="ct-icon text-center marketing-icon">
        <i class="icon-speedometer ct-fw-600"></i>
    </div>
    <div class="ct-iconBox--description">
        <span class="ct-title text-uppercase ct-fw-600">Analyze Your Performance</span>
        <span class="ct-text">Compare your department's response performance to similar departments.</span>
    </div>
</div>
<div class="ct-iconBox ct-iconBox--2col">
    <div class="ct-icon text-center marketing-icon">
        <i class="icon-badge ct-fw-600"></i>
    </div>
    <div class="ct-iconBox--description">
        <span class="ct-title text-uppercase ct-fw-600">Get Your Grade</span>
        <span class="ct-text">Learn if your performance is adequate for your community's risk level.</span>
    </div>
</div>
