<section class="text-center ct-u-paddingTop20 ct-u-paddingBottom20">
    <div class="container">
        <div class="ct-heading ct-u-marginBottom20">
            <h3 class="text-uppercase">Check out the Video Page to Learn more</h3>
        </div>
        <div class="ct-js-owl partners" data-items="4" data-navigation="false" data-autoPlay="true" data-single="false">

            <div class="item"><a href="/videos/#intro" target="_blank" title="Video Intro">
            <img width="195px" height="165px" src="{{STATIC_URL}}videos/howtovid.png"></a></div>

            <div class="item"><a href="/videos/#data" target="_blank" title="Check Your Data">
            <img width="195px" height="165px" src="{{STATIC_URL}}videos/checkdatavid.png"></a></div>


             <div class="item"><a href="/videos/#numbers" target="_blank" title="By the Numbers">
             <img width="195px" height="165px" src="{{STATIC_URL}}videos/bythenumvid.png"></a></div>

             <div class="item"><a href="/videos/#tour" target="_blank" title="Video Tour">
             <img width="195px" height="165px" src="{{STATIC_URL}}videos/tourvid.png"></a></div>

        </div>
    </div>
</section>
