<section class="text-center ct-u-paddingTop40 ct-u-paddingBottom40">
    <div class="container">
        <div class="ct-heading ct-u-marginBottom40">
            <h3 class="text-uppercase">How-To Videos</h3>
        </div>
        <h5 style="text-transform: initial" class="ct-u-paddingTop40 ct-u-paddingBottom20">Check out the new tutorial and overview videos from the Firecares Team</h5>
        <div class="ct-js-owl videos ct-u-paddingTop20" data-items="4" data-navigation="false" ng-cloak data-autoPlay="false" data-single="false">

            <div class="item"><a href="/videos/#intro" target="_blank" title="By the Numbers">
                <img src="{{STATIC_URL}}videos/video_thumbnail_1.png"/>
                <span>     
                    <h5>By The Numbers</h5>
                    <i class="fa fa-angle-right"></i>
                 </span></a>
            </div>

            <div class="item"><a href="/videos/#data" target="_blank" title="Check Your Data">
                <img src="{{STATIC_URL}}videos/video_thumbnail_2.png"/>
                <span>     
                    <h5>How To Check Your Data</h5>
                    <i class="fa fa-angle-right"></i>
                 </span></a>
            </div>

            <div class="item"><a href="/videos/#numbers" target="_blank" title="Video Tour">
                <img src="{{STATIC_URL}}videos/video_thumbnail_3.png"/>
                <span>     
                    <h5>Video Tour</h5>
                    <i class="fa fa-angle-right"></i>
                 </span></a>
            </div>

            <div class="item"><a href="/videos/#tour" target="_blank" title="How To">
                <img src="{{STATIC_URL}}videos/video_thumbnail_4.png"/>
                <span>     
                    <h5>How To</h5>
                    <i class="fa fa-angle-right"></i>
                 </span></a>
             </div>
        </div> 
    </div>
    <div class="ct-u-paddingTop20">
        <button onclick="location.href='videos/'" type="submit" class="btn btn-primary">Browse All Videos</button>
    </div>
</section>
