{% extends "firestation/_conservative_base.html" %}

{% block page_title %}
Models - Community Risk Model · FireCARES
{% endblock %}

{% block meta_description %}
Community risks for fire departments were determined via statistical regression models that predict various types of risk as a function of community attributes.  Click here to learn more.
{% endblock %}

{% block title %}
    Community Risk
{% endblock %}

{% block scrollspy %}
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'firestation_home' %}">Home</a>
    <a href="#">Community Risk</a>
{% endblock %}


{% block section %}
    <section class="ct-u-paddingBoth60">
    <div class="container community-risk">
        <div class="row">
            <div class="col-sm-12 col-md-12">

                <div class="ct-u-marginBottom50">
                    <p>
                        Community risks were determined via statistical regression models that predict various types of risk as
                        a function of community attributes. Five community risks were modeled separately for low- medium-
                        and high-hazard structures. The community risks were:
                    </p>
                    <ul>
                        <li>
                            number of reported structure fires,
                        </li>
                        <li>
                            percentage of reported fires that spread beyond the room of origin,
                        </li>
                        <li>
                            percentage of reported fires that spread beyond the room of origin and spread beyond the structure of
                            origin,
                        </li>
                        <li>
                            number of reported injuries resulting from structure fires,
                        </li>
                        <li>
                            and number of reported deaths resulting from structure fires.
                        </li>
                    </ul>

                    <p>
                        Community risks were estimated for each of three different classes of structures in a community including
                        low, medium, and high hazard structures as categorized by the NFPA.
                    </p>

                    <p>
                        Community risks were also estimated as a function of the socio-demographic and geographic
                        characteristics of the locations (census tracts) of reported structure fires over a seven year period
                        (2007-2013) according to available NFIRS data. The socio-demographic attributes include:
                    </p>

                    <ul>
                        <li>
                            <em>Population characteristics</em> (e.g., size category of the department, population, number of males,
                            age group counts, race counts)
                        </li>
                        <li>
                            <em>Housing characteristics</em> (e.g., total housing units, total vacancies, size of home, number of renters,
                            age of units)
                        </li>
                        <li>
                            <em>Household characteristics</em> (e.g., median household income, social vulnerability index)
                        </li>
                        <li>
                            <em>Geographic region.</em>
                        </li>
                    </ul>

                    <p>
                        The final set of variables varied by model, and were selected to ensure the best prediction of risk.
                        Note that because deaths are rare, many departments will be predicted to have only a fractional number
                        of deaths.
                    </p>

                    <p>
                        Community risks are not currently estimated for communities with populations less than 10,000 people because small departments are expected to behave different from larger departments. The model is under contiuned development to ensure all communities are captured in FireCAREs. The number of departments for which estimates are generated are listed below.
                    </p>

                </div>

                <div style="width: 50%; margin: 0 auto; ">
                    <h5 id="table-1">Table 1: Number of departments by size and region.</h5><br/>
                    <table class="table-striped table-condensed">
                       <tr>
                          <td><b>Department Size</b></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                       </tr>
                       <tr>
                          <td></td>
                          <td colspan="2" style="text-align: center"><b>Population</b></td>
                          <td colspan="5" style="text-align: center"><b>Region</b></td>
                       </tr>
                       <tr>
                          <td><b>Label</b></td>
                          <td><b>From:</b></td>
                          <td><b>To:</b></td>
                          <td><b>West</b></td>
                          <td><b>South</b></td>
                          <td><b>Northeast</b></td>
                          <td><b>Midwest</b></td>
                          <td><b>Total</b></td>
                       </tr>
                       <tr>
                          <td>size_0</td>
                          <td>0</td>
                          <td>2,499</td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td><b> </b></td>
                       </tr>
                       <tr>
                          <td>size_1</td>
                          <td>2,500</td>
                          <td>4,999</td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td><b> </b></td>
                       </tr>
                       <tr>
                          <td>size_2</td>
                          <td>5,000</td>
                          <td>9,999</td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td><b> </b></td>
                       </tr>
                       <tr>
                          <td>size_3</td>
                          <td>10,000</td>
                          <td>24,999</td>
                          <td>99</td>
                          <td>270</td>
                          <td>136</td>
                          <td>325</td>
                          <td><b>830</b></td>
                       </tr>
                       <tr>
                          <td>size_4</td>
                          <td>25,000</td>
                          <td>49,999</td>
                          <td>100</td>
                          <td>172</td>
                          <td>92</td>
                          <td>195</td>
                          <td><b>559</b></td>
                       </tr>
                       <tr>
                          <td>size_5</td>
                          <td>50,000</td>
                          <td>99,999</td>
                          <td>118</td>
                          <td>88</td>
                          <td>53</td>
                          <td>121</td>
                          <td><b>380</b></td>
                       </tr>
                       <tr>
                          <td>size_6</td>
                          <td>100,000</td>
                          <td>249,999</td>
                          <td>76</td>
                          <td>36</td>
                          <td>17</td>
                          <td>88</td>
                          <td><b>217</b></td>
                       </tr>
                       <tr>
                          <td>size_7</td>
                          <td>250,000</td>
                          <td>499,999</td>
                          <td>25</td>
                          <td>11</td>
                          <td>3</td>
                          <td>22</td>
                          <td><b>61</b></td>
                       </tr>
                       <tr>
                          <td>size_8</td>
                          <td>500,000</td>
                          <td>999,999</td>
                          <td>13</td>
                          <td>5</td>
                          <td>1</td>
                          <td>18</td>
                          <td><b>37</b></td>
                       </tr>
                       <tr>
                          <td>size_9</td>
                          <td>1,000,000</td>
                          <td>up</td>
                          <td>5</td>
                          <td>1</td>
                          <td>3</td>
                          <td>5</td>
                          <td><b>14</b></td>
                       </tr>
                       <tr>
                          <td><b>Total</b></td>
                          <td></td>
                          <td></td>
                          <td><b>436</b></td>
                          <td><b>583</b></td>
                          <td><b>305</b></td>
                          <td><b>774</b></td>
                          <td><b>2,353</b></td>
                       </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </section>

{% endblock %}
