{% extends "firestation/_conservative_base.html" %}

{% block page_title %}
Models - Community Risk Model · FireCARES
{% endblock %}

{% block meta_description %}
Community risks for fire departments were determined via statistical regression models that predict various types of risk as a function of community attributes.  Click here to learn more.
{% endblock %}

{% block title %}
    Community Risk
{% endblock %}

{% block scrollspy %}
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'firestation_home' %}">Home</a>
    <a href="#">Community Risk</a>
{% endblock %}


{% block section %}
    <section class="ct-u-paddingBoth60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">

                <div class="ct-u-marginBottom50">
                    <p>Community risks for fire departments were determined via statistical regression models that predict various types of risk as a function of community attributes.  Five community risks were assessed through the statistical modelling exercise:</p>

                    <ul>
                        <li>number of low risk structure fires,</li>
                        <li>percentage of fires that go beyond the room of origin (labelled “size 2 fires”),</li>
                        <li>percentage of fires beyond the room of origin that proceed beyond the structure of origin (we call these “size 3 fires”),</li>
                        <li>number of injuries resulting from low risk structure fires, </li>
                        <li>and number of deaths resulting from low risk structure fires.</li>
                    </ul>

                <p>Community risks were estimated as a function of the socio-demographic and geographic characteristics of the locations (census tracts) of low risk structure fires over a 9 year period (2014-2012) according to NFIRS data.  The socio-demographic attributes to help predict risk included such items as:</p>

                <ul>
                    <li><i>Population characteristics</i> (e.g., size category of total resident population served by department as shown in Table 1, number of males, age group counts, race counts)</li>

                    <li><i>Housing characteristics</i> (e.g., total housing units, total vacancies, size of home, number of renters, age of units)</li>

                    <li><i>Household characteristics</i> (e.g., median household income, social vulnerability index)  in the Separate regression prediction equations were developed independently for each of the five risks.  The models are based on census data. The predictors used differ by model, based on what census data contributes significantly to predicting each of the models</li>

                    <li><i>Geographic region.</i></li>
                </ul>

                <p>Models were separately calculated for groups of departments with similar protected population size and region. (Departments serving fewer than 10,000 people were excluded from the analysis.)
                    One exception is that departments serving 1 million or more people were analyzed as a single group regardless of region. Separate models were computed for 24 department size × region combinations.
                    Specific notes about individual groups of regressions follow:  Fire size models predicting the proportions of fires that fit into each size category as well as models predicting deaths and injuries
                    represent an overall ‘average’ department (i.e., the models do not include a department specific ‘effect’). Also, note that because deaths are rare, many departments will be predicted to have only a
                    fractional number of deaths.</p>

                </div>
            </div>
        </div>
    </div>
    </section>

{% endblock %}