{% load humanize %}
{% load firecares %}
{% load widget_tweaks %}
<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="{{ object.description }} Update government unit assocations for {{ object.name }}.">
    <meta name="author" content="Prominent Edge LLC">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Update government unit associations for fire department: {{ object.name }}</title>
    {% include 'firestation/_favicon.html' %}



    <script type="text/javascript">
    var config = {
      geom: {{ object.geom.json|safe|default:"null" }},
      centroid: [{{ object.headquarters_address.geom.centroid.y }}, {{ object.headquarters_address.geom.centroid.x }}],
      id: {{object.id}}
    }
    </script>
    {% include 'google_analytics.html' %}
</head>

<body class="ct-headroom--fixedTopBar cssAnimate" ng-controller="jurisdictionController" ng-app="fireStation">


<form class="ct-searchFormMobile ct-u-marginBottom50" role="form">
    <div class="form-group ">
        <div class="ct-form--label--type1">
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell">
                    <div class="ct-input-group-btn">
                        <button class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="ct-u-displayTableCell text-center">
                    <span>Search for property</span>
                </div>
            </div>
        </div>
        <div class="ct-u-displayTableVertical ct-u-marginBottom20">
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Property id</label>
                    <input type="text" required class="form-control input-lg" placeholder="Any">
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Location</label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">New York</option>
                        <option value="2">New Jersey</option>
                        <option value="3">Newark</option>
                        <option value="4">Philadelphia</option>
                    </select>
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Sub-Location</label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">New York</option>
                        <option value="2">Jersey</option>
                        <option value="3">Newark</option>
                        <option value="4">Philadelphia</option>
                    </select>
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Property Status</label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">Sale</option>
                        <option value="2">New</option>
                        <option value="3">Loan</option>
                    </select>
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Property type </label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">Houses</option>
                        <option value="2">Industrial</option>
                        <option value="3">Retail</option>
                        <option value="4">Apartments</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="ct-u-displayTableVertical ct-slider--row">
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Bedrooms</label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3+</option>
                    </select>
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Bathrooms</label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3+</option>
                    </select>
                </div>
            </div>
            <div class="ct-u-displayTableCell ct-u-marginBottom40">
                <div class="ct-form--item ct-sliderAmount">
                    <label>Price ($)</label>
                    <input type="text" value="1000000" required class="form-control input-lg ct-js-slider-min ct-u-marginBottom20" placeholder="">
                    <input type="text" class="slider ct-js-sliderAmount" value="" data-slider-tooltip="hide" data-slider-handle="square" data-slider-min="5000" data-slider-max="5000000" data-slider-step="5000" data-slider-value="[1000000,2000000]">
                    <label class="pull-left">Min</label>
                    <label class="pull-right">Max</label>
                    <input type="text" value="2000000" required class="form-control input-lg ct-js-slider-max" placeholder="">
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <input type="text" class="slider ct-js-sliderTicks" value="" data-slider-handle="square" data-slider-min="0" data-slider-max="200" data-slider-step="20" data-slider-value="[60,120]"/>
                <label class="text-center center-block">Area (m2)</label>
            </div>
            <div class="ct-u-displayTableCell">
                <button type="submit" class="btn btn-warning text-capitalize pull-right">search now</button>
            </div>
        </div>
    </div>
</form>


<div id="ct-js-wrapper" class="ct-pageWrapper">

<div class="ct-navbarMobile">
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'firestation_home' %}"><img src="{{STATIC_URL}}firestation/theme/assets/images/content/logo.png" alt="Estato"> </a>
    <button type="button" class="searchForm-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span><i class="fa fa-search"></i></span>
    </button>
</div>

{% include "firestation/_navbar.html" %}

<div class="ct-site--map">
    <div class="container">
        <a href="{% url 'firestation_home' %}">Home</a>
        <a href="{% url 'firedepartment_list' %}">Departments</a>
        <a href="{% url 'firedepartment_detail_slug' object.id object.slug %}">{{ object.name }}</a>
        <a href="{% url 'firedepartment_update_government_units' object.id %}">Link Government Units</a>
    </div>
</div>
<header class="ct-mediaSection">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="ct-u-displayTableVertical">
                <div class="ct-textBox ct-u-text--white ct-u-displayTableCell text-left">
                    <h2>{{ object.name }}</h2>
                    <h4>{{ object.headquarters_address.get_row_display }}</h4>
                    <span class="ct-productID ct-fw-300">
                        FDID: <span>{{ object.fdid }}</span>
                    </span>
                </div>
                <div class="ct-u-displayTableCell text-right">
                    <a href="search-grid.html" class="btn btn-sm btn-transparent–border ct-u-text--white"><i class="icon-star fa-2x"></i></a>
                    <a href="javascript:window.print()" class="btn btn-sm btn-transparent–border ct-u-text--white"><i class="icon-printer fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="ct-u-paddingBottom60">
    <div class="container">
        <div class="ct-section--products">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="ct-heading ct-u-marginBottom20 ct-u-marginTop30">
                        <h3>{{ object.name }}</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="ct-u-displayTableVertical ct-productDetails">
                                <div class="ct-u-displayTableRow">
                                    <div class="ct-u-displayTableCell">
                                        <span class="ct-fw-600">Department Type</span>
                                    </div>
                                    <div class="ct-u-displayTableCell text-right">
                                        <span>{{ object.department_type }}</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableRow">
                                    <div class="ct-u-displayTableCell">
                                        <span class="ct-fw-600">NFPA Region</span>
                                    </div>
                                    <div class="ct-u-displayTableCell text-right">
                                        <span>{{ object.region }}</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableRow">
                                    <div class="ct-u-displayTableCell">
                                        <span class="ct-fw-600">FDID</span>
                                    </div>
                                    <div class="ct-u-displayTableCell text-right">
                                        <span>{{ object.fdid }}</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableRow">
                                    <div class="ct-u-displayTableCell">
                                        <span class="ct-fw-600">State</span>
                                    </div>
                                    <div class="ct-u-displayTableCell text-right">
                                        <span>{{ object.state }}</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableRow">
                                    <div class="ct-u-displayTableCell">
                                        <span class="ct-fw-600">Phone</span>
                                    </div>
                                    <div class="ct-u-displayTableCell text-right">
                                        <span>{{ object.headquarters_phone|default:"Unknown" }}</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableRow">
                                    <div class="ct-u-displayTableCell">
                                        <span class="ct-fw-600">Fax</span>
                                    </div>
                                    <div class="ct-u-displayTableCell text-right">
                                        <span>{{ object.headquarters_fax|default:"Unknown" }}</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableRow">
                                    <div class="ct-u-displayTableCell">
                                        <span class="ct-fw-600">Protected population</span>
                                    </div>
                                    <div class="ct-u-displayTableCell text-right">
                                        {% if object.population %}
                                        <span>{{ object.population|intcomma }}</span>
                                        {% else %}
                                        <span>Unknown</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="ct-u-displayTableRow">
                                    <div class="ct-u-displayTableCell">
                                        <span class="ct-fw-600">Community size</span>
                                    </div>
                                    <div class="ct-u-displayTableCell text-right">
                                        <span>{{ object.geom_area|floatformat:"2"|intcomma}} <span>km&sup2;</span></span>
                                    </div>
                                </div>
                                {% if object.website %}
                                <div class="ct-u-displayTableRow">
                                    <div class="ct-u-displayTableCell">
                                        <span class="ct-fw-600"><a href="{{ object.website }}">Official Website <i class="fa fa-external-link ct-fw-600"></i></a></span>
                                    </div>
                                    <div class="ct-u-displayTableCell text-right">
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div id="map"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-lg-12 ct-u-marginTop10">
                            <div class="ct-u-displayTableVertical">
                                <div class="ct-u-displayTableCell text-left">
                                    <i class="fa fa-clock-o pull-left"></i><h6>Last Updated: {{ object.modified }}</h6>
                                </div>
                                <div class="ct-u-displayTableCell text-right">
                                    <a href="" ng-click="toggleFullScreenMap()"><i class="fa fa-arrows-alt"></i> View Fullscreen Map</a>
                                </div>
                            </div>
                        </div>
         <!--                <div class="col-md-4 col-lg-3 text-right">
                            <a href=""><i class="fa fa-times"></i>report abuse</a>
                        </div> -->
                    </div>
                    <hr/>
                    <div class="col-sm-6 col-md-12 ct-u-marginBottom30">
                        <h3>Associated Government Units</h3>
                    </div>
                    <form role="form" method="post" class="usgs" action="{% url 'firedepartment_update_government_units'  object.id %}">
                        {% csrf_token %}
                        <div class="col-sm-12 col-md-12 ct-u-marginBottom10">
                            <div class="metric-card">
                                <label class="featured-department-map-label control-label sale">
                                    Counties
                                </label>
                                <div class="main-content ct-u-paddingTop20">
                                    <div class="main-text">
                                        <ul class="col-md-12">
                                            {% for c in counties %}
                                            <li>
                                                <label class="col-md-3 ct-u-marginTop10">
                                                    <input class="hang-left" type="checkbox" name="counties" value="{{ c.pk }}" {% if c.pk in current_counties %}checked="checked" {% endif %}/>
                                                    <h4>{{ c }}</h4>
                                                    <div class="ct-u-displayTableVertical ct-productDetails ct-u-marginTop20">
                                                        <div class="ct-u-displayTableRow">
                                                            <div class="ct-u-displayTableCell">
                                                                <span class="ct-fw-600">FIPS</span>
                                                            </div>
                                                            <div class="ct-u-displayTableCell text-right">
                                                                <span>{{ c.fips|default:"(not available)" }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="ct-u-displayTableRow">
                                                            <div class="ct-u-displayTableCell">
                                                                <span class="ct-fw-600">Population</span>
                                                            </div>
                                                            <div class="ct-u-displayTableCell text-right">
                                                                <span>{{ c.population|intcomma|default:"(not available)" }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                                <inline-map type='County' overlay-geom='{{ c.geom.json|safe|default:"null"}}' class="map col-md-9 ct-u-marginBottom20"></inline-map>
                                                {% if not forloop.last %}
                                                <hr/>
                                                {% endif %}
                                            </li>
                                            {% empty %}
                                            <li><em>No counties intersect with the department headquarters</em></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="metric-card">
                                <label class="featured-department-map-label control-label sale">
                                    Incorporated Places
                                </label>
                                <div class="main-content ct-u-paddingTop20">
                                    <div class="main-text">
                                        <ul class="col-md-12">
                                            {% for c in incorporated_places %}
                                            <li>
                                                <label class="col-md-3 ct-u-marginTop10">
                                                    <input class="hang-left" type="checkbox" name="incorporated_places" value="{{ c.pk }}" {% if c.pk in current_incorporated_places %}checked="checked" {% endif %}/>
                                                    <h4>{{ c }}</h4>
                                                    <div class="ct-u-displayTableVertical ct-productDetails ct-u-marginTop20">
                                                        <div class="ct-u-displayTableRow">
                                                            <div class="ct-u-displayTableCell">
                                                                <span class="ct-fw-600">FIPS</span>
                                                            </div>
                                                            <div class="ct-u-displayTableCell text-right">
                                                                <span>{{ c.fips|default:"(not available)" }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="ct-u-displayTableRow">
                                                            <div class="ct-u-displayTableCell">
                                                                <span class="ct-fw-600">Population</span>
                                                            </div>
                                                            <div class="ct-u-displayTableCell text-right">
                                                                <span>{{ c.population|intcomma|default:"(not available)" }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                                <inline-map type='Incorporated Place' overlay-geom='{{ c.geom.json|safe|default:"null"}}' class="map col-md-9 ct-u-marginBottom20"></inline-map>
                                                {% if not forloop.last %}
                                                <hr/>
                                                {% endif %}
                                            </li>
                                            {% empty %}
                                            <li class="ct-u-marginBottom10"><em>No incorporated places intersect with the department headquarters</em></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="metric-card">
                                <label class="featured-department-map-label control-label sale">
                                    Unincorporated Places
                                </label>
                                <div class="main-content ct-u-paddingTop20">
                                    <div class="main-text">
                                        <ul class="col-md-12">
                                            {% for c in unincorporated_places %}
                                            <li>
                                                <label class="col-md-3 ct-u-marginTop10">
                                                    <input class="hang-left" type="checkbox" name="unincorporated_places" value="{{ c.pk }}" {% if c.pk in current_unincorporated_places %}checked="checked" {% endif %}/>
                                                    <h4>{{ c }}</h4>
                                                    <div class="ct-u-displayTableVertical ct-productDetails ct-u-marginTop20">
                                                        <div class="ct-u-displayTableRow">
                                                            <div class="ct-u-displayTableCell">
                                                                <span class="ct-fw-600">FIPS</span>
                                                            </div>
                                                            <div class="ct-u-displayTableCell text-right">
                                                                <span>{{ c.fips|default:"(not available)" }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="ct-u-displayTableRow">
                                                            <div class="ct-u-displayTableCell">
                                                                <span class="ct-fw-600">Population</span>
                                                            </div>
                                                            <div class="ct-u-displayTableCell text-right">
                                                                <span>{{ c.population|intcomma|default:"(not available)" }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                                <inline-map type='Unincorporated Place' overlay-geom='{{ c.geom.json|safe|default:"null"}}' class="map col-md-9 ct-u-marginBottom20"></inline-map>
                                                {% if not forloop.last %}
                                                <hr/>
                                                {% endif %}
                                            </li>
                                            {% empty %}
                                            <li><em>No unincorporated places intersect with the department headquarters</em></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="metric-card">
                                <label class="featured-department-map-label control-label sale">
                                    Minor Civil Divisions
                                </label>
                                <div class="main-content ct-u-paddingTop20">
                                    <div class="main-text">
                                        <ul class="col-md-12">
                                            {% for c in minor_civil_divisions %}
                                            <li>
                                                <label class="col-md-3 ct-u-marginTop10">
                                                    <input class="hang-left" type="checkbox" name="minor_civil_divisions" value="{{ c.pk }}" {% if c.pk in current_minor_civil_divisions %}checked="checked" {% endif %}/>
                                                    <h4>{{ c }}</h4>
                                                    <div class="ct-u-displayTableVertical ct-productDetails ct-u-marginTop20">
                                                        <div class="ct-u-displayTableRow">
                                                            <div class="ct-u-displayTableCell">
                                                                <span class="ct-fw-600">FIPS</span>
                                                            </div>
                                                            <div class="ct-u-displayTableCell text-right">
                                                                <span>{{ c.fips|default:"(not available)" }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="ct-u-displayTableRow">
                                                            <div class="ct-u-displayTableCell">
                                                                <span class="ct-fw-600">Population</span>
                                                            </div>
                                                            <div class="ct-u-displayTableCell text-right">
                                                                <span>{{ c.population|intcomma|default:"(not available)" }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                                <inline-map type='Minor Civil Division' overlay-geom='{{ c.geom.json|safe|default:"null"}}' class="map col-md-9 ct-u-marginBottom20"></inline-map>
                                                {% if not forloop.last %}
                                                <hr/>
                                                {% endif %}
                                            </li>
                                            {% empty %}
                                            <li><em>No minor civil divisions intersect with the department headquarters</em></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="metric-card">
                                <label class="featured-department-map-label control-label sale">
                                    Native American Areas
                                </label>
                                <div class="main-content ct-u-paddingTop20">
                                    <div class="main-text">
                                        <ul class="col-md-12">
                                            {% for c in native_american_areas %}
                                            <li>
                                                <label class="col-md-3 ct-u-marginTop10">
                                                    <input class="hang-left" type="checkbox" name="native_american_areas" value="{{ c.pk }}" {% if c.pk in current_native_american_areas %}checked="checked" {% endif %}/>
                                                    <h4>{{ c.name }}</h4>
                                                    <div class="ct-u-displayTableVertical ct-productDetails ct-u-marginTop20">
                                                        <div class="ct-u-displayTableRow">
                                                            <div class="ct-u-displayTableCell">
                                                                <span class="ct-fw-600">FIPS</span>
                                                            </div>
                                                            <div class="ct-u-displayTableCell text-right">
                                                                <span>{{ c.fips|default:"(not available)" }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="ct-u-displayTableRow">
                                                            <div class="ct-u-displayTableCell">
                                                                <span class="ct-fw-600">Population</span>
                                                            </div>
                                                            <div class="ct-u-displayTableCell text-right">
                                                                <span>{{ c.population|intcomma|default:"(not available)" }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                                <inline-map type='Native American Area' overlay-geom='{{ c.geom.json|safe|default:"null"}}' class="map col-md-9 ct-u-marginBottom20"></inline-map>
                                                {% if not forloop.last %}
                                                <hr/>
                                                {% endif %}
                                            </li>
                                            {% empty %}
                                            <li><em>No native american areas intersect with the department headquarters</em></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="metric-card">
                                <label class="featured-department-map-label control-label sale">
                                    Reserves
                                </label>
                                <div class="main-content ct-u-paddingTop20">
                                    <div class="main-text">
                                        <ul class="col-md-12">
                                            {% for c in reserves %}
                                            <li>
                                                <label class="col-md-3 ct-u-marginTop10">
                                                    <input class="hang-left" type="checkbox" name="reserves" value="{{ c.pk }}" {% if c.pk in current_reserves %}checked="checked" {% endif %}/>
                                                    <h4>{{ c.name|default:"(name not available)" }}</h4>
                                                </label>
                                                <inline-map type='Reserve' overlay-geom='{{ c.geom.json|safe|default:"null"}}' class="map col-md-9 ct-u-marginBottom20"></inline-map>
                                                {% if not forloop.last %}
                                                <hr/>
                                                {% endif %}
                                            </li>
                                            {% empty %}
                                            <li><em>No reserves intersect with the department headquarters</em></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="submission">
                                <label class="pull-left">
                                    <input type="checkbox" name="update_geom" class="pull-left" value="1" checked="checked"/>
                                    Update department geometry to include geometries of government units?
                                </label>
                                <button class="btn btn-primary btn-xlarge pull-left ct-u-marginTop20" type="submit">Save</button>
                            </div>

                            <!-- End Safe Grade Cards -->
                          {% comment %}
                          <div class="line-chart firecares-graph ct-u-marginBottom10" id="dist"
                                  data="{{ performance_data }}"
                                  description="This department is {{ object.dist_model_score|floatformat|default:"an unknown number of" }} seconds over the industry standard."
                                  metric-title="Performance Score"
                                  value="{{ object.dist_model_score }}"
                                  color="#F5C97E"></div>
                          <div class="line-chart firecares-graph ct-u-marginBottom10" id="risk_deaths"
                                  data="{{ risk_deaths_data }}"
                                  description="This department is predicted to have {{ object.risk_model_deaths|floatformat|default:"an unknown number of" }} fire related deaths per year."
                                  metric-title="Predicted Fire-Related Deaths"
                                  value="{{ object.risk_model_deaths }}"
                                  color="#F5C97E"></div>
                            <div class="line-chart firecares-graph ct-u-marginBottom10" id="risk_injuries"
                                  data="{{ risk_injuries_data }}"
                                  description="This department is predicted to have {{ object.risk_model_injuries|floatformat|default:"an unknown number of" }} fire related injuries per year."
                                  metric-title="Predicted Fire-Related Injuries"
                                  value="{{ object.risk_model_injuries }}"
                                  color="#F5C97E"></div>
                            <div class="line-chart firecares-graph ct-u-marginBottom10" id="risk_fires"
                                  data="{{ risk_model_fires }}"
                                  description="This department is predicted to have {{ object.risk_model_fires|floatformat|default:"an unknown number of" }} fires per year."
                                  metric-title="Predicted residential fires per year."
                                  value="{{ object.risk_model_fires }}"
                                  color="#F5C97E"></div>
                             {% endcomment %}
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
{% include 'firestation/_footer.html' %}
</div>

{% include "firestation/_firecares_static.html" %}

</body>
</html>
