{% extends "base.html" %}
{% load i18n humanize cache %}

{% block extra_head %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}firestation/firestation.css" />
{% endblock %}

{% block extra_script %}
    {{ super }}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular-resource.min.js"></script>
    <script src="{{ STATIC_URL }}/leaflet/leaflet.js"></script>
    <script src="{{ STATIC_URL }}firestation/Leaflet.FireCARESMarkers.js"></script>
    <script src="{{ STATIC_URL }}firestation/firestation.js"></script>

    {% cache 500 object_js object.id %}
     <script type="text/javascript">
    var config = {
      geom: {{ object.geom.json|safe|default:"null" }},
      centroid: [{{ object.headquarters_address.geom.centroid.y }}, {{ object.headquarters_address.geom.centroid.x }}],
      id: {{object.id}}
    }
    </script>
    {% endcache %}


{% endblock %}

{% block body_outer %}

    {% cache 500 firedepartment_detail_page_content object.id %}
    <div class="container" ng-controller="jurisdictionController" ng-app="fireStation">
        <div class="row">
            <div class="span12 firestation-breadcrumb">
              <a href="{% url 'firedepartment_list' %}">Departments</a> &middot; <a href="{% url 'firedepartment_list' object.headquarters_address.state_province|lower %}/">{{ object.headquarters_address.state_province }}</a> &middot; {{ object.name }}
                <hr/>
            </div>

            <div class="span12">
                <div id="map" style="height:300px"></div>
            </div>
               <div class="span12">
               <div class="fire-station-header span7">
                <h3>{{ object.name }}</h3>
                <address class="header-address">{{ object.headquarters_address.get_row_display }}</address>
                <span class="header-extra">
                    <span class="header-extra-attribute"><b>FDID:</b> {{ object.fdid }} </span> &middot;
                    <span class="header-extra-attribute"><b>Department Type:</b> {{ object.department_type }}</span>
                </span>
               </div>

                <aside class="span4 pull-right" style="margin-top: 20px;">
                    <div>
                     <table class="table station-detail-table table-bordered table-striped">
                      <tbody>
                      <tr>
                          <td class="station-detail-table-attribute">Organization Type</td>
                          <td>{{ object.organization_type }}</td>
                        </tr>
                      {% if object.headquarters_phone %}
                      <tr>
                          <td class="station-detail-table-attribute">Phone</td>
                          <td>
                              {% if object.headquarters_fax %}
                              <a href="tel:{{ object.headquarters_phone }}">{{ object.headquarters_phone }}</a>
                              {% else %}
                                  None
                              {% endif %}
                          </td>
                      </tr>
                      {% endif %}
                      {% if object.headquarters_fax %}
                      <tr>
                          <td class="station-detail-table-attribute">Fax</td>
                          <td>
                          {% if object.headquarters_fax %}
                            <a href="fax:{{ object.headquarters_fax }}">{{ object.headquarters_fax }}</a>
                          {% else %}
                              None
                          {% endif %}
                          </td>
                      </tr>
                      {% endif %}
                      {% if object.website %}
                      <tr>
                          <td class="station-detail-table-attribute">Website</td>
                          <td>
                            <a href="{{ object.website }}" target="_blank">Visit Website</a>
                          </td>
                      </tr>
                      {% endif %}
                      <tr>
                          <td class="station-detail-table-attribute">City/County</td>
                          <td>{{ object.headquarters_address.city }}, {{ object.headquarters_address.state_province }}</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>

                    <div class="sidebar-stats">
                    {% if object.dist_model_score  %}
                        <div class="sidebar-stat">
                                <div class="sidebar-stat-title">DIFFERENTIAL IN STANDARD TIME</div>
                                <div class="sidebar-stat-value">{{ object.dist_model_score | floatformat }}s</div>
                            </div>
                        {% endif  %}

                    {% if object.population  %}
                        <div class="sidebar-stat">
                            <div class="sidebar-stat-title">GOVERNMENT UNIT POPULATION</div>
                            <div class="sidebar-stat-value">{{ object.population|intcomma }}</div>
                        </div>
                    {% endif %}

                    {% if object.fips  %}
                    <div class="sidebar-stat">
                            <div class="sidebar-stat-title">GOVERNMENT UNIT FIPS CODE{{ object.fips|pluralize|upper }}</div>
                            <div class="sidebar-stat-value">{{ object.fips|join:', ' }}</div>
                        </div>
                    {% endif  %}
                    </div>

                </aside>
                <div class="span7">
                   <h4>Stations</h4>
                {% if object.firestation_set.all %}
                   <p>Fire Stations for this department.</p>
                    <table class="table">
                      <thead>
                      <tr>
                          <td><b>Station Name</b></td>
                      </tr>
                      </thead>
                      <tbody>
                      {% for station in object.firestation_set.all %}
                          <tr>
                              <td><a href="{{ station.get_absolute_url }}">{{ station.name }}</a></td>
                          </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                {% else %}
                    <p>No stations loaded for this department.</p>
                {% endif %}
                </div>
               </div>

        </div>
    </div>
    {% endcache %}
{%  endblock %}