{% load humanize %}
{% load firecares_tags %}
{% load favit_tags %}
{% load widget_tweaks %}
<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="{{ object.description }} Learn more about this community's risks.">
    <meta name="author" content="Prominent Edge LLC">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Community Assessment: {{ object.name }}</title>
    {% include 'firestation/_favicon.html' %}
    {% include "firestation/_firecares_style.html" %}

    <script type="text/javascript">
    var config = {
      geom: {{ object.geom.json|safe|default:"null" }},
      centroid: [{{ object.headquarters_address.geom.centroid.y }}, {{ object.headquarters_address.geom.centroid.x }}],
      id: {{object.id}},
      showParcels: {{ user.is_authenticated|yesno:"true,false"}}
    };

    var urls = {
      "models_performance_score": "{% url 'models_performance_score' %}"
    };

    var metrics = {
        "population_metrics_rows": {{ object.metrics.population_metrics_rows | jsonify }},
        "dist_model_risk_model_greater_than_size_2_quartile": {{ object.metrics.dist_model_risk_model_greater_than_size_2_quartile | jsonify }},
        "dist_model_residential_fires_quartile": {{ object.metrics.dist_model_residential_fires_quartile | jsonify }},
        "dist_model_risk_model_deaths_injuries_quartile": {{ object.metrics.dist_model_risk_model_deaths_injuries_quartile | jsonify }},
        "national_risk_model_size1_percent_size2_percent_sum_quartile": {{ object.metrics.national_risk_model_size1_percent_size2_percent_sum_quartile | jsonify }},
        "national_risk_model_deaths_injuries_sum_quartile": {{ object.metrics.national_risk_model_deaths_injuries_sum_quartile | jsonify }},
        "residential_fires_3_year_avg": {{ object.metrics.residential_fires_3_year_avg | jsonify }},
        "risk_model_fires": {{ object.metrics.risk_model_fires | jsonify }},
        "residential_fires_avg_3_years_breaks": {{ object.metrics.residential_fires_avg_3_years_breaks | jsonify }},
        "dist_model_score": {{ object.metrics.dist_model_score | jsonify }},
        "population_class_stats": {{ object.metrics.population_class_stats | jsonify }},
        "risk_model_deaths": {{ object.metrics.risk_model_deaths | jsonify }},
        "risk_model_fires_size0": {{ object.metrics.risk_model_fires_size0 | jsonify }},
        "risk_model_fires_size1": {{ object.metrics.risk_model_fires_size1 | jsonify }},
        "risk_model_fires_size2": {{ object.metrics.risk_model_fires_size2 | jsonify }},
        "nfirs_deaths_and_injuries_sum": {{ object.metrics.nfirs_deaths_and_injuries_sum | jsonify}},
        "deaths_and_injuries_sum": {{ object.metrics.deaths_and_injuries_sum | jsonify }},
        "residential_structure_fire_counts": {{ object.metrics.residential_structure_fire_counts | jsonify }}
    };

    var level = "all";
    </script>
    {% include 'google_analytics.html' %}
</head>

<body class="ct-headroom--fixedTopBar cssAnimate" ng-controller="jurisdictionController" ng-app="fireStation">

{% include 'firestation/_mobile_navbar.html' %}
{% include 'firestation/_mobile_search.html' %}

<div id="ct-js-wrapper" class="ct-pageWrapper">

<div class="ct-navbarMobile">
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand logo" href="{% url 'firestation_home' %}"><h1>FireCARES</h1></a>
    <button type="button" class="searchForm-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span><i class="fa fa-search"></i></span>
    </button>
</div>

{% include "firestation/_navbar.html" %}

<div class="ct-site--map">
    <div class="container">
        <a href="{% url 'firestation_home' %}">Home</a>
        <a href="{% url 'firedepartment_list' %}">Departments</a>
        <a href="{% url 'firedepartment_detail' object.id %}">{{ object.name }}</a>
    </div>
</div>
<header class="ct-mediaSection">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="ct-u-displayTableVertical">
                <div class="ct-textBox ct-u-text--white ct-u-displayTableCell text-left">
                    <h2>{{ object.name }}</h2>
                    <h4>{{ object.headquarters_address.get_row_display }}</h4>
                    <span class="ct-productID ct-fw-300">
                        FDID: <span>{{ object.fdid }}</span>
                    </span>
                    {% if object.archived %}
                        <span class="ct-productID ct-fw-300" style="margin-left: 10px">
                            <span>ARCHIVED</span>
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<section class="ct-mediaSection-inner">
    <div class="container">
        <form role="form" action="" method="post" class="contactForm validateIt ct-formContact--map ct-form--darkStyle" data-email-subject="Contact Form" data-show-errors="true">
            {% csrf_token %}
            {% block form %}
            <div class="ct-form--label--type3">
                <div class="ct-u-displayTableVertical">
                    <div class="ct-u-displayTableCell">
                        <div class="ct-input-group-btn">
                            <button class="btn btn-primary">
                                <i class="fa fa-envelope-o"></i>
                            </button>
                        </div>
                    </div>
                    <div class="ct-u-displayTableCell text-center">
                        <span class="text-uppercase">Send us your feedback</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                {% with WIDGET_ERROR_CLASS='form-error' %}
                <div class="ct-form--item ct-u-marginBottom20">
                    <label>Message</label>
                    {% render_field form.message type="textarea" class+="form-control input-lg" %}
                    {{ form.message.errors }}
                </div>
                {{ form.non_field_errors }}
                {% endwith %}
                <div class="text-center">
                    <div class="g-recaptcha" data-theme="dark" data-sitekey="6Le_GBMTAAAAAB3O9rQbkhVnFB9eT3ZwSJmOiMGr"></div>
                </div>
                <div class="ct-form--item">
                    <button type="submit" class="btn btn-warning center-block">Send Message</button>
                </div>
            </div>
            {% endblock %}
        </form>
    </div>
</section>
</div>
{% include 'firestation/_footer.html' %}
</div>
</body>
</html>
