{% extends "firestation/firedepartment_list.html" %}

{% load favit_tags %}

{% block sitemap %}
    <a href="{% url 'firestation_favorite_list' %}">Favorite Stations</a>
{% endblock sitemap %}

{% block featured_departments %}
{% endblock featured_departments %}

{% block sorting_bar %}
{% endblock sorting_bar %}

{% block object_list_view %}
{% with object_list as firestations %}

    <div class="ct-u-marginBottom20">           <!-- TODO: where is that grey color defined? (used in department_list) -->
        <h1 class="text-uppercase fa-2x ct-sortingTitle">Favorite Stations<span style="color: #b3b3b3"> ({{ object_list | length }})</span></h1>
    </div>

    {% include "firestation/_fire_station_table.html" %}

{% endwith %}
{% endblock object_list_view %}