{% load firecares humanize %}

<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en" ng-app="fireStation"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Compare your fire department's community risk level with their capacity to respond.">
    <meta name="author" content="Prominent Edge LLC">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>FireCARES - Search for a Community</title>

    {% include 'firestation/_favicon.html' %}
    {% include "firestation/_firecares_static.html" %}

</head>

<body class="ct-headroom--fixedTopBar cssAnimate search"
      sort-by="{{ request.GET.sortBy }}"
      limit="{{ request.GET.limit }}"
      fdid="{{ request.GET.fdid }}"
      state="{{ request.GET.state }}"
      region="{{ request.GET.region }}"
      sort-fields='{{ sort_by_fields|safe }}'
      name="{{ request.GET.name }}"
      population="{{ request.GET.population }}"
      dist-model-score="{{ request.GET.dist_model_score }}"
      >

{% include "firestation/_navbar.html" %}

<form class="ct-searchFormMobile ct-u-marginBottom50" role="form">
    <div class="form-group ">
        <div class="ct-form--label--type1">
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell">
                    <div class="ct-input-group-btn">
                        <button class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="ct-u-displayTableCell text-center">
                    <span class="text-uppercase">Search for property</span>
                </div>
            </div>
        </div>
        <div class="ct-u-displayTableVertical ct-u-marginBottom20">
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Property id</label>
                    <input type="text" required class="form-control input-lg" placeholder="Any">
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Location</label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">New York</option>
                        <option value="2">New Jersey</option>
                        <option value="3">Newark</option>
                        <option value="4">Philadelphia</option>
                    </select>
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Sub-Location</label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">New York</option>
                        <option value="2">Jersey</option>
                        <option value="3">Newark</option>
                        <option value="4">Philadelphia</option>
                    </select>
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Property Status</label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">Sale</option>
                        <option value="2">New</option>
                        <option value="3">Loan</option>
                    </select>
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Property type </label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">Houses</option>
                        <option value="2">Industrial</option>
                        <option value="3">Retail</option>
                        <option value="4">Apartments</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="ct-u-displayTableVertical ct-slider--row">
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Bedrooms</label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3+</option>
                    </select>
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Bathrooms</label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3+</option>
                    </select>
                </div>
            </div>
            <div class="ct-u-displayTableCell ct-u-marginBottom40">
                <div class="ct-form--item ct-sliderAmount">
                    <label>Price ($)</label>
                    <input type="text" value="1000000" required class="form-control input-lg ct-js-slider-min ct-u-marginBottom20" placeholder="">
                    <input type="text" class="slider ct-js-sliderAmount" value="" data-slider-tooltip="hide" data-slider-handle="square" data-slider-min="5000" data-slider-max="5000000" data-slider-step="5000" data-slider-value="[1000000,2000000]">
                    <label class="pull-left">Min</label>
                    <label class="pull-right">Max</label>
                    <input type="text" value="2000000" required class="form-control input-lg ct-js-slider-max" placeholder="">
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <input type="text" class="slider ct-js-sliderTicks" value="" data-slider-handle="square" data-slider-min="0" data-slider-max="200" data-slider-step="20" data-slider-value="[60,120]"/>
                <label class="text-center center-block">Area (m2)</label>
            </div>
            <div class="ct-u-displayTableCell">
                <button id="searchButton" type="submit" class="btn btn-warning text-capitalize pull-right">search now</button>
            </div>
        </div>
    </div>
</form>


<div id="ct-js-wrapper" class="ct-pageWrapper">


<div class="ct-site--map">
    <div class="container">
        <a href="{% url 'firestation_home' %}">Home</a>
        <a href="{% url 'firedepartment_list' %}">Search Results</a>
    </div>
</div>
<section class="ct-u-paddingTop50 ct-u-paddingBottom60">
<div class="container">
<div class="ct-section--products">
<div class="row">
<div class="col-md-4 col-lg-3">
    <div class="ct-js-sidebar">
        <div class="row">
            <div class="col-sm-6 col-md-12">
                <div class="widget">
                    <div class="widget-inner">
                        <form class="ct-formSearch--extended" role="form" id="searchForm">
                            <div class="ct-form--label--type3">
                                <div class="ct-u-displayTableVertical">
                                    <div class="ct-u-displayTableCell">
                                        <div class="ct-input-group-btn">
                                            <button class="btn btn-primary">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="ct-u-displayTableCell text-center">
                                        <span class="text-uppercase">Search for departments</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="ct-form--item ct-u-marginBoth10">
                                    <label>Department name</label>
                                    <input name="name" type="text" class="form-control input-lg" placeholder="Any" ng-model="params.name" ng-enter="search()">
                                </div>
                                <div class="ct-form--item ct-u-marginBoth10">
                                    <label>FDID</label>
                                    <input name="fdid" type="text" class="form-control input-lg" placeholder="Any" ng-model="params.fdid" ng-enter="search()">
                                </div>
                                <div class="ct-form--item ct-u-marginBottom10">
                                    <label>State</label>
                                    <ui-select theme="bootstrap" name="state" class="ct-select-lg" ng-model="params.state">
                                        <ui-select-match placeholder="Any">{[$select.selected.name]}</ui-select-match>
                                        <ui-select-choices repeat="state.abbr as state in states | orderBy: 'name' | filter: $select.search">
                                            <span ng-bind-html="state.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="ct-form--item ct-u-marginBottom10">
                                    <label>Region</label>
                                    <ui-select theme="bootstrap" name="region" class="ct-select-lg" ng-model="params.region">
                                        <ui-select-match placeholder="Select region">{[$select.selected]}</ui-select-match>
                                        <ui-select-choices repeat="region in regions | filter: $select.search">
                                            <span ng-bind-html="region | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="ct-form--item ct-u-marginBoth40">
                                    <input name="dist_model_score" type="text" ng-model="params.dist_model_score" class="slider ct-js-sliderTicks" data-slider-handle="square" data-slider-min="{{ dist_min|floatformat|default:0 }}" data-slider-max="{{ dist_max|floatformat|default:1000 }}" data-slider-step="1" 
                                    data-slider-value="[{{ request.GET.dist_model_score |default:dist_min}} , {{dist_max}}]"/>
                                    <label class="text-center center-block">DIST Score (s)</label>
                                </div>


                                <div class="ct-u-displayTableCell">
                                    <input name="population" type="text" ng-model="params.population" class="slider ct-js-sliderTicks"  data-slider-handle="square" data-slider-min="{{ population_min|floatformat|default:0 }}" data-slider-max="{{ population_max|floatformat|default:1000 }}"  data-slider-step="10" data-slider-value="[{{request.GET.population|default:population_min}} , {{population_max}} ]"/>
                                    <label class="text-center center-block">Protected Population 
                                   </label> 
                                </div>
                                <button type="submit" class="btn btn-warning ct-u-marginTop10" ng-click="search()">Search or Filter Now</button>

                             </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-12">
                <div class="widget ct-widget--featuredItems">
                    <div class="widget-inner">
                        <h4 class="text-uppercase">Featured</h4>
                        {% for department in featured_departments %}
                        <div class="ct-itemProducts--small ct-itemProducts--small-type1 featured-department-map" style="background-image: url({{ department.thumbnail_no_marker }});">
                            <a href="{{ department.get_absolute_url }}">
                                <div class="ct-main-content featured-department-transparency" style="">
                                    <label class="featured-department-map-label control-label sale">
                                            {{ department.name }}
                                    </label>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8 col-lg-9">
<div class="ct-sortingBar ct-u-paddingRight10 ct-u-paddingLeft10 ct-u-marginBottom30">
    <div class="ct-sortingTitle pull-left">
        <h4 class="text-uppercase">Search Results<span> ({{ object_list.count }})</span></h4>
    </div>
    <ul class="list-inline list-unstyled pull-right ct-u-paddingBoth15">
        <li>
            <form>
                <ui-select theme="select2" name="sortBy"  id="sort-select" ng-model="params.sortBy" ng-change="search()">
                    <ui-select-match placeholder="Sort results.">Sort: {[$select.selected.name]}</ui-select-match>
                    <ui-select-choices repeat="sort.field as sort in sortFields | orderBy: 'name' | filter: $select.search">
                        <span ng-bind-html="sort.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </form>
        </li>
        <li>
            <form>
                <ui-select theme="select2" name="limitBy" id="limit-select" ng-model="params.limit" ng-change="search()">
                    <ui-select-match placeholder="Results per page.">Results per page.</ui-select-match>
                    <ui-select-choices repeat="limit in limits">
                        <span ng-bind-html="limit + ' results'"></span>
                    </ui-select-choices>
                </ui-select>
            </form>
        </li>
    </ul>
    <ul class="ct-showPages list-inline list-unstyled pull-right ct-u-paddingBoth15">
        <li class="ct-showElements is-active" id="ct-js-showTiles">
            <a href="#">
                <i class="fa fa-th fa-fw"></i>
            </a>
        </li>
        <li class="ct-showElements" id="ct-js-showList">
            <a href="#">
                <i class="fa fa-th-list fa-fw"></i>
            </a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<div class="row ct-js-search-results ct-showProducts--default">

{% for department in object_list %}
    <div class="col-sm-6 col-md-6 col-lg-4">
        {% include "firestation/_fire_department_card.html" %}
    </div>
{% endfor %}



<div class="clearfix visible-md"></div>
</div>

{% include 'firestation/_pagination.html' %}

</div>
</div>
</div>
</div>
</section>


{% include "firestation/_footer.html" %}

</div>
<!-- JavaScripts -->

{% include 'google_analytics.html' %}

<script type="text/javascript">
      $('#sort-select').on("select2-selecting", function(e) {
        window.location.href = e.choice.id;
       });
      $('#limit-select').on("select2-selecting", function(e) {
        window.location.href = e.choice.id;
       });
</script>

</body>
</html>
