<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Analyze how fire department resources are deployed to match a community's risks.">
    <meta name="author" content="Prominent Edge LLc">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>FireCARES · The Community Assessment Response Evaluation System</title>
    {% include 'firestation/_favicon.html' %}
    {% include "firestation/_firecares_style.html" %}

    <!--[if lt IE 9]>
    <script src="{{STATIC_URL}}firestation/theme/assets/bootstrap/js/html5shiv.min.js"></script>
    <script src="{{STATIC_URL}}firestation/theme/assets/bootstrap/js/respond.min.js"></script>
    <![endif]-->

    <script src="{{STATIC_URL}}firestation/theme/assets/js/modernizr.custom.js"></script>
    {% include 'google_analytics.html' %}
</head>
<body class="ct-headroom--fixedMenu cssAnimate onepager" ng-app="fireStation" ng-controller="home">

    {% include 'firestation/_mobile_navbar.html' %}

<form class="ct-searchFormMobile ct-u-marginBottom50" role="form">
    <div class="form-group ">
        <div class="ct-form--label--type1">
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell">
                    <div class="ct-input-group-btn">
                        <button class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="ct-u-displayTableCell text-center">
                    <span class="text-uppercase">Search for property</span>
                </div>
            </div>
        </div>
        <div class="ct-u-displayTableVertical ct-u-marginBottom20">
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Property id</label>
                    <input type="text" required class="form-control input-lg" placeholder="Any">
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Location</label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">New York</option>
                        <option value="2">New Jersey</option>
                        <option value="3">Newark</option>
                        <option value="4">Philadelphia</option>
                    </select>
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Sub-Location</label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">New York</option>
                        <option value="2">Jersey</option>
                        <option value="3">Newark</option>
                        <option value="4">Philadelphia</option>
                    </select>
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Property Status</label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">Sale</option>
                        <option value="2">New</option>
                        <option value="3">Loan</option>
                    </select>
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Property type </label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">Houses</option>
                        <option value="2">Industrial</option>
                        <option value="3">Retail</option>
                        <option value="4">Apartments</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="ct-u-displayTableVertical ct-slider--row">
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Bedrooms</label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3+</option>
                    </select>
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Bathrooms</label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3+</option>
                    </select>
                </div>
            </div>
            <div class="ct-u-displayTableCell ct-u-marginBottom40">
                <div class="ct-form--item ct-sliderAmount">
                    <label>Price ($)</label>
                    <input type="text" value="1000000" required class="form-control input-lg ct-js-slider-min ct-u-marginBottom20" placeholder="">
                    <input type="text" class="slider ct-js-sliderAmount" value="" data-slider-tooltip="hide" data-slider-handle="square" data-slider-min="5000" data-slider-max="5000000" data-slider-step="5000" data-slider-value="[1000000,2000000]">
                    <label class="pull-left">Min</label>
                    <label class="pull-right">Max</label>
                    <input type="text" value="2000000" required class="form-control input-lg ct-js-slider-max" placeholder="">
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <input type="text" class="slider ct-js-sliderTicks" value="" data-slider-handle="square" data-slider-min="0" data-slider-max="200" data-slider-step="20" data-slider-value="[60,120]"/>
                <label class="text-center center-block">Area (m2)</label>
            </div>
            <div class="ct-u-displayTableCell">
                <button type="submit" class="btn btn-warning text-capitalize pull-right">search now</button>
            </div>
        </div>
    </div>
</form>

<div id="ct-js-wrapper" class="ct-pageWrapper">

<div class="ct-navbarMobile">
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'firestation_home' %}">FireCARES</a>
    <button type="button" class="searchForm-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span><i class="fa fa-search"></i></span>
    </button>
</div>

<!--linear-gradient(0deg, #2d3a51, rgba(57, 173, 204, 1) 200.09%)-->

<div id="header"></div>
<header class="ct-mediaSection text-center ct-u-text--white header-gradient">
    <div class="ct-mediaSection-inner">
        <div class="ct-headerText--normal">
            <div class="container">
                <img src="{{STATIC_URL}}firecares-header-logo.png" alt="">
                <h4 class="ct-u-marginBottom50" style="color:#f29a00">Do you know your safe grade?</h4>
                <!--<a class="btn btn-default btn-transparent--border ct-u-text--white ct-js-btnScroll" href="{% url 'firedepartment_list' %}">Browse Departments</a>-->
                <div class="container firecares-searchbox">
                    <div>
                        <form class="form-inline col-lg-12 ct-u-paddingBottom30" method="get" action="{% url 'firedepartment_list' %}/">
                          <div class="form-group col-lg-12">
                            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                            <div class="input-group col-lg-5 ct-u-marginBottom10">
                              <input type="text" name="q" class="form-control"  id="search" placeholder="Search for departments by name, zip, city, or state.">
                            </div>
                            <button type="submit" class="btn btn-primary ct-u-marginBottom10">Search</button>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="sub-navbar hidden-xs">
    <div class="container ct-u-paddingBoth20">
        <span>
            <a href="#about" class="text-uppercase">about firecares</a>
            <a href="{% url 'firedepartment_list' %}" class="text-uppercase">browse</a>
            <a href="{% url 'media' %}" class="text-uppercase">media</a>
            <a href="#partners" class="text-uppercase">partners</a>
            <a href="{% url 'contact_us' %}" class="text-uppercase">contact us</a>
        </span>
        <span class="pull-right">
            {% if not user.is_authenticated %}
            <a href="{% url 'registration_register' %}" class="text-uppercase">sign up</a>
            <a href="{% url 'login' %}?next={% url 'firedepartment_list' %}" class="text-uppercase">login</a>
            {% else %}
            <a href="{% url 'logout' %}" class="text-uppercase">logout</a>
            {% endif %}
        </span>
    </div>
</section>

<section id="about" class="text-center ct-u-paddingBoth100 col-lg-12 section">
    <div class="row">
    <div class="col-lg-9">
            <div class="ct-heading text-uppercase ct-u-marginBottom40">
                <h3>About FireCARES</h3>
            </div>

            <div class="ct-textBox--section center-block ct-u-marginBottom10">
                    If fire department resources are deployed to match the risk levels inherent to hazards in the community, it has been scientifically demonstrated that the community will be far less vulnerable to negative outcomes in <b>firefighter injury and death</b>, <b>civilian injury and death</b> and <b>property loss</b>.  FireCARES
                 analyzes massive amounts of fire department data to identify if resources are appropriately deployed to match a community's risk level.
            </div>
            <div class="row">
               <div class="ct-iconBoxContainer center-block">
                   <div class="col-md-4">
                       <div class="ct-iconBox">
                           <div class="ct-icon center-block ct-u-marginBottom10 marketing-icon">
                               <i class="icon-location-pin ct-fw-600"></i>
                           </div>
                           <div class="ct-iconBox--description">
                               <span class="ct-title ct-u-marginBottom20 ct-fw-600 text-uppercase">Identify Risks</span>
                               <span class="ct-text ct-u-marginBottom20">Identify the socio-economic risk factors for your community.</span>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-4">
                       <div class="ct-iconBox">
                           <div class="ct-icon center-block ct-u-marginBottom10 marketing-icon">
                               <i class="icon-speedometer ct-fw-600"></i>
                           </div>
                           <div class="ct-iconBox--description">
                               <span class="ct-title ct-u-marginBottom20 ct-fw-600 text-uppercase">Analyze performance.</span>
                               <span class="ct-text ct-u-marginBottom20">Compare your department's response performance to similar departments across the nation.</span>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-4">
                       <div class="ct-iconBox">
                           <div class="ct-icon center-block ct-u-marginBottom10 marketing-icon">
                               <i class="icon-badge ct-fw-600"></i>
                           </div>
                           <div class="ct-iconBox--description">
                               <span class="ct-title ct-u-marginBottom20 ct-fw-600 text-uppercase">Get your grade.</span>
                               <span class="ct-text ct-u-marginBottom20">Learn if your performance is adequate for your community's risk level.</span>
                           </div>
                       </div>
                   </div>
                   <div class="clearfix"></div>
               </div>
            </div>
    </div>
    <div class="col-lg-3">
        <img class="pull-right" src="{{ STATIC_URL }}teaser.png"/>
    </div>
        </div>
</section>

<section id="featured" class="section ct-u-paddingBottom20" style="min-height: 400px">
    <div class="ct-heading text-uppercase text-center ct-u-paddingBottom30">
        <h3>Over 30 million fires analyzed.</h3>
    </div>
    <div id="map" class="col-lg-12"></div>
</section>

</div>

<section class="section" id="partners">
    <div class="ct-u-paddingBottom60 text-center">
        <div class="container">
            {% include 'firestation/_partners.html' %}
        </div>
    </div>
</section>

{% include 'firestation/_footer.html' %}

{% include "firestation/_firecares_scripts.html" %}

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "https://firecares.org/",
    "potentialAction": {
    "@type": "SearchAction",
        "target": "https://firecares.org/department/?q={search_term_string}",
        "query-input": "required name=search_term_string"
    }
}
</script>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "http://firecares.org",
    "logo": "https://s3.amazonaws.com/firecares-static/firecares-header-logo.png"
}
</script>

</body>
</html>
