<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Analyze how fire department resources are deployed to match a community's risks.">
    <meta name="author" content="Prominent Edge LLc">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>FireCARES · The Community Assessment Response Evaluation System</title>
    {% include 'firestation/_favicon.html' %}
    {% include "firestation/_firecares_style.html" %}

    <!--[if lt IE 9]>
    <script src="{{STATIC_URL}}firestation/theme/assets/bootstrap/js/html5shiv.min.js"></script>
    <script src="{{STATIC_URL}}firestation/theme/assets/bootstrap/js/respond.min.js"></script>
    <![endif]-->

    <script src="{{STATIC_URL}}firestation/theme/assets/js/modernizr.custom.js"></script>
    {% include 'google_analytics.html' %}
</head>
<body class="ct-headroom--fixedMenu cssAnimate onepager search" ng-app="fireStation" ng-controller="home">

{% include 'firestation/_mobile_navbar.html' %}
{% include 'firestation/_mobile_search.html' %}

<div id="ct-js-wrapper" class="ct-pageWrapper">

<div class="ct-navbarMobile">
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'firestation_home' %}">FireCARES</a>
    <button type="button" class="searchForm-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span><i class="fa fa-search"></i></span>
    </button>
</div>

<section class="sub-navbar hidden-xs hidden-sm">
    <div class="container ct-u-paddingBoth20">
        <span>
            <a href="#about" class="text-uppercase">about</a>
            <a href="{% url 'firedepartment_list' %}" class="text-uppercase">Search</a>
            <a href="{% url 'media' %}" class="text-uppercase">media</a>
            <a href="#partners" class="text-uppercase">partners</a>
            <a href="{% url 'contact_us' %}" class="text-uppercase">contact us</a>
        </span>
        <span class="right-navbar">
            {% if not user.is_authenticated %}

            <a href="#" class="text-uppercase sign-up-button" id="sign-up-popover" data-toggle="popover" title="Sign Up"
               data-placement="bottom" tabindex="0" role="button">sign up</a>

            <a href="{% url 'login' %}?next={% url 'firedepartment_list' %}" class="text-uppercase">login</a>
            {% else %}
            <a href="{% url 'logout' %}" class="text-uppercase">logout</a>
            {% endif %}
        </span>
    </div>
</section>


<div id="popover_content_wrapper" style="display: none">
  <form class="form-inline col-lg-12 ct-u-paddingBottom30 sign-up-popover-content" method="post" action="{% url 'account_request' %}">
            <div class="text-center popup-content">Provide your email address and we will be in touch.</div>
            <input id="contact_name_small" placeholder='example@domain.com' required name="email"
                   type="email" class="form-control input-lg">
            <div class="text-center">
            <button type="submit" class="btn btn-primary">SIGN UP</button></div>
        </form>
</div>

<div id="header"></div>
<header class="home-header text-center ct-u-text--white header-gradient">
    <img src="{{STATIC_URL}}firecares-header-logo.png" alt="">
    <h4 class="ct-u-marginBottom50" style="color:#f29a00">Do you know your safe grade?</h4>
    <!--<a class="btn btn-default btn-transparent--border ct-u-text--white ct-js-btnScroll" href="{% url 'firedepartment_list' %}">Browse Departments</a>-->
    <div class="container firecares-searchbox">
        <div>
            <form class="form-inline col-lg-12" method="get" action="{% url 'firedepartment_list' %}/">
              <div class="form-group col-lg-12">
                <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                <div class="input-group col-lg-5 ct-u-marginBottom10">
                  <input type="text" name="q" class="form-control" id="search" placeholder="Search for departments by name, zip, city, or state.">
                </div>
                <button type="submit" class="btn btn-primary ct-u-marginBottom10">Search</button>
              </div>
            </form>
        </div>
    </div>
</header>

<section id="about" class="text-center ct-u-paddingTop100 col-lg-12 section">
    <div class="row">
    <div class="col-lg-7">
            <div class="ct-heading text-uppercase ct-u-marginBottom40">
                <h3>About FireCARES</h3>
            </div>

            <div class="ct-textBox--section center-block ct-u-marginBottom10">
                    If fire department resources are deployed to match the risk levels inherent to hazards in the community, it has been scientifically demonstrated that the community will be far less vulnerable to negative outcomes in <b>firefighter injury and death</b>, <b>civilian injury and death</b> and <b>property loss</b>.  FireCARES
                 analyzes massive amounts of fire department data to identify if resources are appropriately deployed to match a community's risk level.
            </div>
            <div class="row">
               <div class="ct-iconBoxContainer center-block">
                   <div class="col-md-4">
                       <div class="ct-iconBox default-cursor">
                           <div class="ct-icon center-block ct-u-marginBottom10 marketing-icon">
                               <i class="icon-location-pin ct-fw-600"></i>
                           </div>
                           <div class="ct-iconBox--description">
                               <span class="ct-title ct-u-marginBottom20 ct-fw-600 text-uppercase">Identify Risks</span>
                               <span class="ct-text ct-u-marginBottom20">Identify the socio-economic risk factors for your community.</span>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-4">
                       <div class="ct-iconBox default-cursor">
                           <div class="ct-icon center-block ct-u-marginBottom10 marketing-icon">
                               <i class="icon-speedometer ct-fw-600"></i>
                           </div>
                           <div class="ct-iconBox--description">
                               <span class="ct-title ct-u-marginBottom20 ct-fw-600 text-uppercase">Analyze performance.</span>
                               <span class="ct-text ct-u-marginBottom20">Compare your department's response performance to similar departments across the nation.</span>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-4">
                       <div class="ct-iconBox default-cursor">
                           <div class="ct-icon center-block ct-u-marginBottom10 marketing-icon">
                               <i class="icon-badge ct-fw-600"></i>
                           </div>
                           <div class="ct-iconBox--description">
                               <span class="ct-title ct-u-marginBottom20 ct-fw-600 text-uppercase">Get your grade.</span>
                               <span class="ct-text ct-u-marginBottom20">Learn if your performance is adequate for your community's risk level.</span>
                           </div>
                       </div>
                   </div>
                   <div class="clearfix"></div>
               </div>
            </div>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2">
        <img class="home-computer-img pull-right-lg" src="{{ STATIC_URL }}teaser.png"/>
    </div>
        <div class="col-lg-1"></div>
    </div>
</section>


<section id="featured" class="section col-lg-12 ct-u-paddingTop100 " style="min-height: 400px">
    <div class="ct-heading text-uppercase text-center ct-u-paddingBottom30">
        <h3>Over 30 million fires analyzed.</h3>
    </div>
    <div id="map" class="col-lg-12"></div>
</section>

</div>

<div class="ct-u-paddingTop40" id="partners">
    {% include 'firestation/_partners.html' %}
</div>

<section class="ct-mediaSection account-request-section ct-u-paddingBoth90 ct-u-text--white text-center" id="signup">
    <div class="container">
        <div class="ct-u-marginBottom15 text-center">
            <h2 class="text-center">Sign up</h2>
        </div>
        <form class="form-inline col-lg-12" method="post" action="{% url 'account_request' %}">
            <div class="ct-u-paddingBottom30 account-request-section-content">Provide your email address and we will be in touch.</div>
            <div class="ct-form--item ct-u-marginBottom20">
                <input id="contact_name" placeholder='example@domain.com' required size="65" name="email" type="email" class="form-control input-lg">
            </div>
            <button type="submit" class="btn btn-primary">SIGN UP</button>
        </form>
    </div>
</section>

{% include 'firestation/_footer.html' %}

{% include "firestation/_firecares_scripts.html" %}

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "https://firecares.org/",
    "potentialAction": {
    "@type": "SearchAction",
        "target": "https://firecares.org/department/?q={search_term_string}",
        "query-input": "required name=search_term_string"
    }
}
</script>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "https://firecares.org",
    "logo": "https://static.firecares.org/firecares-header-logo.png"
}
</script>

</body>
</html>
