{% extends "firestation/_conservative_base.html" %}

{% block page_title %}
FireCARES · FireCARES in the Media
{% endblock %}

{% block meta_description %}
Click here to find videos and other media about the FireCARES project.
{% endblock %}

{% block title %}
FireCARES in the Media
{% endblock %}

{% block scrollspy %}
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'firestation_home' %}">Home</a>
    <a href="#">Media</a>
{% endblock %}


{% block section %}
    <section class="ct-u-paddingTop50">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="ct-u-marginBottom50">
                          <div class="row ct-u-marginBottom50">
                            <div class="col-md-6 col-md-push-6">
                              <h3><a href="https://www.youtube.com/watch?v=8ox4X9BOna0">IAFF Dispatch Season 2 Episode 1</a></h3>
                              <p class="ct-u-paddingBoth10" style="opacity: .6"><b>Published:</b> March 11th 2016</p>
                              <p>In this episode: big news about two new data systems that provide updated, simple and easy to use interfaces for our members, the unique challenges facing our federal affiliates and the incredible success our great union achieves on our members’ behalf when our locals, state and provincial affiliates and our international offices are strong and unified.</p>
                            </div>
                            <div class="col-md-6 col-md-pull-6">
                                <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/8ox4X9BOna0' frameborder='0' allowfullscreen></iframe></div>
                            </div>
                          </div>
                          <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="ct-u-marginBottom50">
                          <div class="row ct-u-marginBottom50">
                            <div class="col-md-6">
                              <h3><a href="https://www.youtube.com/watch?v=dJK_jIUz9Ok">Risk vs. Response: The FireCARES Project</a></h3>
                              <p class="ct-u-paddingBoth10" style="opacity: .6"><b>Published:</b> September 2nd 2015</p>
                              <p>Dr. Lori Moore-Merrell (IAFF), Dr. Craig Weinschenk (NIST) and Ray Ranellone (Worcester Polytechnic Institute) presentation at IAFF Health, Safety and EMS Conference.</p>
                            </div>
                            <div class="col-md-6">
                                <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/dJK_jIUz9Ok' frameborder='0' allowfullscreen></iframe></div>
                            </div>
                          </div>
                          <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="ct-u-marginBottom50">
                          <div class="row">
                            <div class="col-md-6 col-md-push-6">
                              <h3><a href="http://www.firehouse.com/article/12155599/fire-politics-embrace-big-data">Fire Politics: Embrace Big Data</a></h3>
                              <p class="ct-u-paddingBoth10" style="opacity: .6"><b>Published:</b> February 1st 2015</p>
                              <p>Kevin O'Connor talks about embracing big data in the fire service and including FIRECares performance scores in your efforts to gauge improvements. </p>
                            </div>
                            <div class="col-md-6 col-md-pull-6" style="overflow: hidden;">
                                <a href="http://www.firehouse.com/article/12155599/fire-politics-embrace-big-data"><img width="560" height="315" src="http://r2.firehouse.com/files/base/FHC/image/2015/04/16x9/640x360/Kevin_O_Connor.552530e1e7843.jpg"/></a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
