{% extends "firestation/_conservative_base.html" %}

{% block page_title %}
Models - Performance Score · FireCARES
{% endblock %}

{% block meta_description %}
The goal of the fire department performance score is to assess how well a fire department performs compared to the "standardized" version of itself.  Click here to learn more about how performance scores are calculated.
{% endblock %}

{% block title %}
    Performance Score
{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
      }
    });
    </script>
{% endblock %}

{% block scrollspy %}
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'firestation_home' %}">Home</a>
    <a href="#">Performance Score</a>
{% endblock %}


{% block section %}
    <section class="ct-u-paddingBoth60">
    <div class="container performance-score">
        <div class="row">
            <div class="col-sm-12 col-md-12">

                <div class="ct-u-marginBottom20" ng-app="fireStation" ng-controller="performanceScore">
                    {% verbatim %}
                    <gauge class="pull-right" description="This department is {{ value }} seconds over the industry standard."
                                       metric-title="Performance Score" min="0"
                                       max="200" value="{{ value }}" inverse style="width: 300px;"></gauge>
                    {% endverbatim %}
                    <p>The goal of the fire department performance score is to assess how well a fire department performs compared to the "standardized" version of itself. One component of this metric is the structure fire spread category from the National Fire Incident Reporting System (NFIRS). This category provides information which quantifies the fire spread in a structure from confined to object of origin through spread beyond structure of origin. There are five categories defined in NFIRS, but for this analysis the data are collapsed into three categories: room of origin (lumping object and room together), floor of origin (lumping floor and structure together), and beyond structure of origin. The resulting distribution (count of fires in each of the three bins) of fire spread is the basis for comparison for developing the performance score.</p>
                    <p>The second component of this score is the model that defines how the fire department would perform if it were acting as a standard, idealized version of itself. The concept is that there exists a theoretical version of every fire department where all responses meet or exceed the national standards governing department performance. Essentially, a fire department responding to a fire must complete a series of tasks before they can put water on the fire. For purposes of this model these tasks are broken up as follows:</p>

                    <ul>
                        <li><b>Time to alarm</b> - Time required before the fire is noticed, and some form of action is taken [<a href="http://www.nist.gov/el/fire_research/upload/Report-on-Residential-Fireground-Field-Experiments.pdf" target="_blank">NIST TN 1661</a>, <a href="http://nvlpubs.nist.gov/nistpubs/TechnicalNotes/NIST.TN.1797.pdf" target="_blank">NIST TN 1797</a>].</li>
                        <li><b>Time to dispatch</b> - Time required for dispatch operator to obtain enough information regarding the fire and location to issue a dispatch [<a href="http://www.nfpa.org/codes-and-standards/document-information-pages?mode=code&code=1710" target="blank">NFPA 1710</a>].</li>
                        <li><b>Time to turnout</b> - Time required for firefighter turnout [<a href="http://www.nfpa.org/codes-and-standards/document-information-pages?mode=code&code=1710" target="blank">NFPA 1710</a>].</li>
                        <li><b>Time to arrival</b> - Transit time required for engine between station and fire location [<a href="http://www.nfpa.org/codes-and-standards/document-information-pages?mode=code&code=1710" target="blank">NFPA 1710</a>, GIS].</li>
                        <li><b>Time to ascend</b> - Transit time required for firefighters to ascend to the staging floor for fires in buildings. Data for ascent was gathered from timed 27-story climb experiments with 35 firefighters of varying age, height, weight, and gender. Note this parameter is only enacted when staging would occur above ground level.</li>
                        <li><b>Time to suppress</b> - Time required for firefighters on-scene to put water onto fire (includes size-up, hose connection, etc.) [<a href="http://www.nist.gov/el/fire_research/upload/Report-on-Residential-Fireground-Field-Experiments.pdf" target="_blank">NIST TN 1661</a>, <a href="http://nvlpubs.nist.gov/nistpubs/TechnicalNotes/NIST.TN.1797.pdf" target="_blank">NIST TN 1797</a>]</li>
                    </ul>

                    <p>When water is put onto a fire, the idealized fire is assumed to have reached the peak size. The growth time for the fire is equivalent to the sum of the tasks the fire department must perform to suppress the fire. This time to suppression is coupled to a simple exponential area damage growth model which is consistent with fire statistics literature. A distribution of fire spread is generated using the same three NFIRS bins discussed above, based on the modeled area of fire damage at the suppression time. Distributions of the room and building sizes are estimated from the American Housing Survey's (AHS) national survey of residential homes. Where available, it is possible to use the AHS metropolitan statistical areas to refine room and building distributions for larger metropolitan areas.</p>
                    <p>FireCARES developed the metric, the fire department performance score, to aid in quantifying fire department performance. The concept is that there exists an average time correction for all fire department structure fire responses routed through the idealized fire department model that ``corrects'' the fire damage outcomes expected from national standards to the particular outcomes observed by a given fire department. This average correction time is known as the fire department performance score.



                </div>
            </div>
        </div>
    </div>
    </section>

{% endblock %}
