{% verbatim %}
<div class="tab-content">
    <div class="tab-pane" id="{{form.id}}" ng-repeat="form in forms" ng-init="previousForm = form"
            ng-class="{'active': $last}">
        <div class="apparatus-help">
            Use this form to populate the staffing for a unit.  Count each person on the apparatus once.
        </div>
        <form class="ct-formSearch--extended ct-u-marginTop30 ct-u-paddingTop30" name="apparatus_{{ form.id }}" ng-submit="this['apparatus_' + form.id].$setPristine();UpdateForm(form)">
            <div class="form-group">
                <div class="ct-u-displayTableVertical ct-u-marginBottom20">
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label for="apparatus">Apparatus Type</label>
                            <select class="form-control" ng-model="form.apparatus" name="apparatus" ng-options="opt for opt in choices"></select>
                        </div>
                    </div>
                </div>
                <div class="ct-u-displayTableVertical ct-u-marginBottom20">
                    <div>
                        <div class="ct-form--item">
                            <label for="officer_paramedic">Number of Personnel</label>
                            <input class="form-control" ng-model="form.personnel" name="personnel" type="number" min="0" ng-minlength="1" ng-maxlength="2">
                        </div>
                    </div>
                    <div>
                        <div class="ct-form--item ct-u-marginTop10">
                            <label for="officer_paramedic">Provides Advanced Life Support</label>
                            <input class="form-control" ng-model="form.als" name="als" type="checkbox">
                        </div>
                    </div>
                </div>
                <div class="ct-u-displayTableVertical">
                    <div class="col-sm-3">
                        <input type="submit" class="btn btn-success" value="Save" ng-disabled="!this['apparatus_' + form.id].$valid || !this['apparatus_' + form.id].$dirty" class="btn btn-primary"/>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" ng-click="DeleteForm(form)" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endverbatim %}