<div class="tab-content">
    <div class="tab-pane" id="{[form.id]}" ng-repeat="form in forms" ng-init="previousForm = form"
            ng-class="{'active': $last}">
        <div class="apparatus-help">
            Use this form to populate the staffing for a unit.  Count each person on the apparatus once.
        </div>

        <form class="ct-formSearch--extended ct-u-marginTop30 ct-u-paddingTop30" name="apparatus_{[ form.id ]}" ng-submit="this['apparatus_' + form.id].$setPristine();UpdateForm(form)">
            <div class="form-group">
                <div class="ct-u-displayTableVertical ct-u-marginBottom20">
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label for="apparatus">Apparatus</label>
                            <select class="form-control" ng-model="form.apparatus" name="apparatus" ng-options="opt for opt in choices"></select>
                        </div>
                    </div>
                </div>
                <div class="ct-u-displayTableVertical ct-u-marginBottom20">
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label for="firefighters">Firefighter Only</label>
                            <input class="form-control" ng-model="form.firefighter" name="firefigthers" type="number" min="0" ng-minlength="1" ng-maxlength="2">
                        </div>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label for="firefighters">Firefighter/EMT</label>
                            <input class="form-control" ng-model="form.firefighter_emt" name="firefigther_emts" type="number" min="0" ng-minlength="1" ng-maxlength="2">
                        </div>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label for="firefighter_emts">Firefighter/Paramedic</label>
                            <input class="form-control" ng-model="form.firefighter_paramedic" name="firefigther_emts" type="number" min="0" ng-minlength="1" ng-maxlength="2">
                        </div>
                    </div>
                </div>
                <div class="ct-u-displayTableVertical ct-u-marginBottom20">
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label for="ems_emts">EMS-Only EMT</label>
                            <input class="form-control" ng-model="form.ems_emt" name="ems_emts" type="number" min="0" ng-minlength="1" ng-maxlength="2">
                        </div>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label for="ems_paramedic">EMS-Only Paramedic</label>
                            <input class="form-control" ng-model="form.ems_paramedic" name="ems_paramedic" type="number" min="0" ng-minlength="1" ng-maxlength="2">
                        </div>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label for="officer">Company/Unit Officer</label>
                            <input class="form-control" ng-model="form.officer" name="officer" type="number" min="0" ng-minlength="1" ng-maxlength="2">
                        </div>
                    </div>
                </div>
                <div class="ct-u-displayTableVertical ct-u-marginBottom20">
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label for="officer_paramedic">Company/Unit Officer Paramedic</label>
                            <input class="form-control" ng-model="form.officer_paramedic" name="offcier_paramedic" type="number" min="0" ng-minlength="1" ng-maxlength="2">
                        </div>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label for="ems_supervisor">EMS Supervisor</label>
                            <input class="form-control" ng-model="form.ems_supervisor" name="ems_supervisor" type="number" min="0" ng-minlength="1" ng-maxlength="2">
                        </div>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label for="chief_officer">Chief Officer</label>
                            <input class="form-control" ng-model="form.chief_officer" name="chief_officer" type="number" min="0" ng-minlength="1" ng-maxlength="2">
                        </div>
                    </div>
                </div>
                <div class="ct-u-displayTableVertical ct-u-marginBottom20">
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item col-sm-3">
                            <label>Total personnel:</label>
                            <input class="form-control" type="number" ng-disabled="true" value="{[ form.firefighter + form.firefighter_emt + form.firefighter_paramedic + form.ems_emt + form.ems_paramedic + form.officer + form.officer_paramedic + form.ems_supervisor + form.chief ]}" />
                        </div>
                    </div>
                </div>
                <div class="ct-u-displayTableVertical">
                    <div class="ct-u-displayTableCell col-sm-3">
                        <input type="submit" class="btn btn-success" value="Save" ng-disabled="!this['apparatus_' + form.id].$valid || !this['apparatus_' + form.id].$dirty" class="btn btn-primary"/>
                    </div>
                    <div class="ct-u-displayTableCell col-sm-3">
                        <button type="button" ng-click="DeleteForm(form)" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
