{% extends "firestation/_conservative_base.html" %}

{% block page_title %}
Models - Safe Grades · FireCARES
{% endblock %}

{% block meta_description %}
Safe Grades for fire departments were determined via statistical regression models that predict various types of risk as a function of community attributes.  Click here to learn more.
{% endblock %}

{% block title %}
    Safe Grades
{% endblock %}

{% block scrollspy %}
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'firestation_home' %}">Home</a>
    <a href="#">Safe Grades</a>
{% endblock %}


{% block section %}
<section class="ct-u-paddingBoth60">
    <div class="container safe-grades">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="ct-u-marginBottom50">
                    <div class="ct-u-marginBottom70">
                        <p>
                            The <strong>Safe Grade</strong> is a comparison of the Community Risk Score with the Fire Department Performance Score.
                        </p>
                        <p>
                            SAFE Grade represents the possibility of civilian injury or death, firefighter injury or death and/or property loss based
                            on how well the Fire department <u>resources</u> are deployed to <u>match the level of risks</u> in a structure fire.
                        </p>
                        <p>
                            There are 3 safe grade comparison categories.
                        </p>
                        <ul>
                            <li>
                                Performance based on <strong>number of fires</strong>
                            </li>
                            <li>
                                Performance based on <strong>fire spread</strong>
                            </li>
                            <li>
                                Performance based on <strong>injury and death</strong>
                            </li>
                        </ul>

                        <h4 id="safe-grade-scores" class="ct-u-marginTop50">
                            SAFE GRADE SCORES
                            <a href="#safe-grade-scores">
                                <i class="fa fa-link"></i>
                            </a>
                        </h4>

                        <p class="ct-u-marginTop10">
                            Each comparison described above is done with similar fire departments as determined by population
                            and risk levels, resulting in departments being ranked and then placed into groups.
                        </p>

                        <div class="community-risk-legend safe-grade-legend ct-u-marginBottom20">
                           <div>
                            <div class="safe-grade-legend-icon low"></div>
                            <strong>Good:</strong> less than 25% of departments have an equal or better performance score.
                           </div>
                           <div>
                            <div class="safe-grade-legend-icon medium"></div>
                            <strong>Fair:</strong> 25-75% of departments have a better performance score.
                            </div>
                           <div>
                            <div class="safe-grade-legend-icon high"></div>
                            <strong>Poor:</strong> over 75% of departments have an equal or better performance score.
                           </div>
                        </div>

                        <p>
                            The first three Safe Grades are based on comparison with similar departments, while the last two
                            Safe Grades place individual departments into a national comparison with all Fire Departments.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
