{% load humanize %}
{% load firecares %}
<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="{{ object.description }} Learn more about this community's risks.">
    <meta name="author" content="Prominent Edge LLC">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>FireCARES - Community Assessment: {{ object.name }}</title>
    {% include 'firestation/_favicon.html' %}



    <script type="text/javascript">
    var config = {
      geom: {{ object.geom.json|safe|default:"null" }},
      centroid: [{{ object.headquarters_address.geom.centroid.y }}, {{ object.headquarters_address.geom.centroid.x }}],
      id: {{object.id}}
    }
    var department_list = []
    {% for department in object_list %}
    var department = {
        geom: {{department.geom.json|safe|default:"null" }},
        centroid: [{{ object.headquarters_address.geom.centroid.y }}, {{ object.headquarters_address.geom.centroid.x }}],
        id: {{department.id}}
    }
    department_list.push(department)
    {% endfor %}
    </script>

</head>


<body class="ct-headroom--fixedTopBar cssAnimate" ng-controller="matchController" ng-app="fireStation">
    
<form class="ct-searchFormMobile ct-u-marginBottom50" role="form">
    <div class="form-group ">
        <div class="ct-form--label--type1">
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell">
                    <div class="ct-input-group-btn">
                        <button class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="ct-u-displayTableCell text-center">
                    <span>Search for property</span>
                </div>
            </div>
        </div>
        <div class="ct-u-displayTableVertical ct-u-marginBottom20">
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Property id</label>
                    <input type="text" required class="form-control input-lg" placeholder="Any">
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Location</label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">New York</option>
                        <option value="2">New Jersey</option>
                        <option value="3">Newark</option>
                        <option value="4">Philadelphia</option>
                    </select>
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Sub-Location</label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">New York</option>
                        <option value="2">Jersey</option>
                        <option value="3">Newark</option>
                        <option value="4">Philadelphia</option>
                    </select>
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Property Status</label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">Sale</option>
                        <option value="2">New</option>
                        <option value="3">Loan</option>
                    </select>
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Property type </label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">Houses</option>
                        <option value="2">Industrial</option>
                        <option value="3">Retail</option>
                        <option value="4">Apartments</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="ct-u-displayTableVertical ct-slider--row">
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Bedrooms</label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3+</option>
                    </select>
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-form--item">
                    <label>Bathrooms</label>
                    <select class="ct-js-select ct-select-lg">
                        <option value="any">Any</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3+</option>
                    </select>
                </div>
            </div>
            <div class="ct-u-displayTableCell ct-u-marginBottom40">
                <div class="ct-form--item ct-sliderAmount">
                    <label>Price ($)</label>
                    <input type="text" value="1000000" required class="form-control input-lg ct-js-slider-min ct-u-marginBottom20" placeholder="">
                    <input type="text" class="slider ct-js-sliderAmount" value="" data-slider-tooltip="hide" data-slider-handle="square" data-slider-min="5000" data-slider-max="5000000" data-slider-step="5000" data-slider-value="[1000000,2000000]">
                    <label class="pull-left">Min</label>
                    <label class="pull-right">Max</label>
                    <input type="text" value="2000000" required class="form-control input-lg ct-js-slider-max" placeholder="">
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <input type="text" class="slider ct-js-sliderTicks" value="" data-slider-handle="square" data-slider-min="0" data-slider-max="200" data-slider-step="20" data-slider-value="[60,120]"/>
                <label class="text-center center-block">Area (m2)</label>
            </div>
            <div class="ct-u-displayTableCell">
                <button type="submit" class="btn btn-warning text-capitalize pull-right">search now</button>
            </div>
        </div>
    </div>
</form>


<div id="ct-js-wrapper" class="ct-pageWrapper">

<div class="ct-navbarMobile">
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'firestation_home' %}"><img src="{{STATIC_URL}}firestation/theme/assets/images/content/logo.png" alt="Estato"> </a>
    <button type="button" class="searchForm-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span><i class="fa fa-search"></i></span>
    </button>
</div>

<header class="ct-mediaSection">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="ct-u-displayTableVertical">
                <div class="ct-textBox ct-u-text--white ct-u-displayTableCell text-left">
                    <h2>{{ object.name }}</h2>
                    <h4>{{ object.station_address.get_row_display }}</h4>
                    <span class="ct-productID ct-fw-300">
                        FDID: <span>{{ object.fdid }}</span>
                    </span>
                </div>
                <div class="ct-u-displayTableCell text-right">
                    <a href="search-grid.html" class="btn btn-sm btn-transparent–border ct-u-text--white"><i class="icon-star fa-2x"></i></a>
                    <a href="javascript:window.print()" class="btn btn-sm btn-transparent–border ct-u-text--white"><i class="icon-printer fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>

{% if object_list %}
<div class="ct-heading ct-u-marginBottom20">
<h3 class="text-uppercase"> {{ department.paginator.count }} Suggested Departments</h3>
</div>
<div class="ct-section--products ct-section--products2col ct-u-marginBottom30">
<table class="table table-striped" style="font-size:14px;">
    <thead>
    <tr>
        <th>Department Name</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
    {%  for department in object_list %}
    <tr>
        <td>{{ department.name }}</td>
        <td>{{ department.id }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% else %}

<div class="ct-heading ct-u-marginBottom20">
<h3>No stations linked to this department </h3>
</div>
{% endif %}

                        <div class="ct-pagination text-center ct-u-marginBottom30">
                            <ul class="pagination">
                                {% if firestations.has_previous %}
                                        <li><a href="?page={{firestations.previous_page_number }}" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a></li>
                                {% endif %}

                                    {% for p in firestations.paginator.page_range %}
                                        {% if p != firestations.number %}
                                             <li><a href="?page={{ p }}">{{ p }}</a></li>
                                        {% else %}
                                             <li class="active"><a href="?page={{ p }}">{{ p }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                {% if firestations.has_next %}
                                        <li><a href="?page={{firestations.next_page_number}}" aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-right"></i></span></a></li>
                                {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

{% include 'firestation/_footer.html' %}
</div>

{% include "firestation/_firecares_static.html" %}
{% include 'google_analytics.html' %}

</body>
</html>
