amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
appnope==0.1.0
asn1crypto==0.22.0
astroid==1.6.6
Babel==2.3.4
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.5.3
billiard==3.3.0.23
boto==2.38.0
cached-property==1.3.0
celery==3.1.18
certifi==2017.1.23
cffi==1.12.3
click==4.0
configparser==4.0.2
coverage==4.2
cryptography==2.5
decorator==4.0.11
defusedxml==0.4.1
diff-match-patch==20121119
Django==1.11.23
django-annoying==0.10.3
django-appconf==1.0.2
django-autocomplete-light==2.2.5
django-braces==1.11.0
django-celery==3.1.17
django-compressor==1.5
django-debug-toolbar==1.5
django-extensions==1.5.9
-e git+https://github.com/ProminentEdge/django-favit.git@1eb9b1dbbfb65667695da08b3f16c328d1ee74c4#egg=django_favit
django-fixture-magic==0.0.7
-e git+https://github.com/meilinger/django-generic-m2m@1bcf600f2b40a1b56d211b00a01d688553a8be4f#egg=django_generic_m2m
django-guardian==1.4.6
django-import-export==0.5.1
django-invitations==1.8
django-map-widgets==0.2.2
django-nose==1.4.4
-e git://github.com/ProminentEdge/django-osgeo-importer.git@45aa4fb1ee091416c761a9906c457014c1a7251c#egg=django_osgeo_importer
django-phonenumber-field==0.7.2
django-queryset-csv==0.3.1
django-registration-redux==1.2
django-reversion==1.10.1
django-slack==4.1.0
django-static-sitemaps==4.2.1
django-statsd-mozilla==0.3.15
django-storages==1.1.8
django-tastypie==0.13.1
django-widget-tweaks==1.4.1
enum34==1.1.6
et-xmlfile==1.0.1
-e git+https://github.com/FireCARES/fire-risk.git@51be2749f4f104e5111ee0263932236cc371b562#egg=fire_risk
flake8==2.2.5
flower==0.8.1
funcsigs==1.0.2
futures==3.0.5
geopy==1.9.1
gunicorn==19.7.1
idna==2.5
ipaddress==1.0.18
ipdb==0.8.1
ipython==5.3.0
ipython-genutils==0.2.0
isodate==0.5.4
isort==4.3.21
jdcal==1.4
jellyfish==0.2.1
jsonfield==1.0.3
kombu==3.0.37
lazy-object-proxy==1.4.3
lxml==3.5.0
matplotlib==1.4.3
mccabe==0.6.1
mock==2.0.0
ndg-httpsclient==0.4.0
nose==1.3.7
numpy==1.10.4
oauthlib==2.0.2
odfpy==1.4.0
openpyxl==2.5.14
packaging==16.8
pandas==0.16.0
pathlib2==2.2.1
pbr==2.0.0
pep8==1.7.0
pexpect==4.2.1
phonenumbers==8.3.3
pickleshare==0.7.4
Pillow==2.9.0
prompt-toolkit==1.0.13
psycopg2==2.7
ptvsd==4.3.2
ptyprocess==0.5.1
py==1.4.33
pyasn1==0.2.3
pycparser==2.17
pyflakes==1.5.0
Pygments==2.2.0
PyJWT==1.7.1
pylibmc==1.5.2
pylint==1.9.5
pyOpenSSL==17.2.0
pyparsing==2.2.0
pytest==2.7.0
pytest-cov==2.5.1
python-dateutil==2.6.0
python-memcached==1.57
python-mimeparse==1.6.0
pytz==2016.10
PyYAML==3.13
requests==2.7.0
requests-mock==1.2.0
requests-oauthlib==0.7.0
scandir==1.5
scipy==0.17.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sqlparse==0.2.3
statsd==2.1.2
tablib==0.12.1
tornado==4.5.3
traitlets==4.3.2
unicodecsv==0.14.1
us==0.9.0
wcwidth==0.1.7
wrapt==1.11.2
xlrd==1.2.0
xlwt==1.3.0
zeep==0.23.0
