{% extends 'registration/registration_base.html' %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'registration_activate' activation_key=activation_key %}">Activation Complete</a>
{% endblock %}

{% block content %}
<div class="col-md-8">

    <div class="ct-headerText--normal">
        <h2 class="text-uppercase ct-fw-600 ct-u-marginBottom70">
            <i class="fa fa-times"></i>
            Activation Failed.
        </h2>
    </div>
    <div class="ct-iconBox ct-u-marginBottom40 ct-iconBox--2col">
        <div class="ct-iconBox--description">
            <span class="ct-title text-uppercase ct-fw-600">The activation token entered is either incorrect or has expired.  Please contact us for assistance.</span>
        </div>
    </div>
</div>
{% endblock %}