{% extends 'registration/registration_base.html' %}
{% load widget_tweaks %}

{% block meta_title %}Forgot your username? · FireCARES{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'firestation_home' %}">Home</a>
    <a href="{% url 'login' %}">Login</a>
{% endblock %}

{% block form %}
    <div class="ct-form--label--type3">
        <div class="ct-u-displayTableVertical">
            <div class="ct-u-displayTableCell">
                <div class="ct-input-group-btn">
                    <button class="btn btn-primary">
                        <i class="fa fa-user"></i>
                    </button>
                </div>
            </div>
            <div class="ct-u-displayTableCell text-center">
                <span class="text-uppercase">FORGOT USERNAME</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        {% with WIDGET_ERROR_CLASS='form-error' %}
        <div class="ct-form--item ct-u-marginBottom20 form-group">
            <label>Your Email</label>
            {% render_field form.email type="email" class+="form-control input-lg" %}
            {{ form.email.errors }}
        </div>
        {{ form.non_field_errors }}
        {% endwith %}
        <div class="ct-form--item">
            <button type="submit" class="btn btn-warning center-block">Send username to my email</button>
        </div>
    </div>
{% endblock %}
