{% extends "firestation/_conservative_base.html" %}

{% load compress %}

{% block page_title %}
FAQs
{% endblock%}

{% block title %}
Frequently Asked Questions
{% endblock%}

{% block breadcrumbs %}
  <a href="{% url 'firestation_home' %}">Home</a>
{% endblock %}

{% block section %}

<section class="ct-u-paddingBoth60">
  <div class="container">
    <div class="row">

    <h1>Login</h1>
    <hr>
    <h3><strong>Q:</strong>
      I am having trouble logging in. What can I do?
    </h3>
    <br>
    <h4><strong>A:</strong> There are multiple methods to login to FireCARES:</h4>
    <ol class="faq-list">
        <li>Local presidents or officers for fire departments can use IMIS credentials to <span class="learn-more-link"><a href="{% url 'login' %}">login</a></span> to FireCARES. [IMIS DOES NOT YET HAVE DEPARTMENT ASSOCIATIONS OR A MEANS TO DETERMINE IF AN INCOMING USER IS INDEED A LOCAL PRESIDENT OR OFFICER]</li>
        <li>Fire chiefs can <span class="learn-more-link"><a href="{% url 'login' %}">login</a></span> via the Helix single sign on service to authenticate with FireCARES.</li>
        <li>If you are a member of a specific organization [NEED LIST OF ORGANIZATION DOMAINS TO WHITELIST FOR SELF-REGISTRATION], you can <span class="learn-more-link"><a href="{% url 'registration_register' %}">self-register</a></span> to get a FireCARES account.</li>
        <li>If you work at a fire department, you may be able to send an account request through FireCARES that will notify your chief or local president of your account request.  <span class="learn-more-link"><a href="{% url 'firedepartment_list' %}">Search</a></span> for your department and click <strong>&quot;Request access from your fire chief or local president.&quot;</strong>  If fire chief or local president has registered with FireCARES for your department, then he/she will receive a notification to approve your account request.</li>
    </ol>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          When I am on a fire department page, the Performance Score and Safe Grade are grayed out?
        </h3>
        <br>
        <h4><strong>A:</strong>
          While a large portion of FireCARES is completely open, to see those features of FireCARES you need to be logged in. To obtain a login please XXX - tyler/joe/lori -- not sure the text that should go here.
        </h4>
      </p>

    <hr>
    <hr>


    <h1>Data</h1>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          There are missing or incorrect stations or there is a issue regarding the composition of my department (i.e. Multiple landing pages for the same department). How do I fix this issue?
        </h3>
        <br>
        <h4><strong>A:</strong>
          We worked very hard to capture the fire stations for all the departments in the FireCARES system, but we recognize that fire stations change over time and we may not have identified everything station. Please send an email to: <span class="learn-more-link"><a href="mailto:stations@firecares.org?Subject=Station Data Question" target="_top"><i class="fa fa-envelope-o"></i>FireCARES Stations</a></span>. Be sure to include your Fire Department Name and FDID as it is specified on <span class="learn-more-link"><a href="https://firecares.org">FireCARES</a></span>.
        </h4>
      </p>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          My jurisdictional boundary is missing or incorrect. How do I update this information?
        </h3>
        <br>
        <h4><strong>A:</strong>
          We used national data sets plus manual manipulation whenever possible to provide the best representation for jurisdictional boundaries for all departments in FireCARES. We also know that we do not have the same depth of knowledge about every community compared to those who serve that community. If you notice differences or if boundaries have changed, please send an email to: <span class="learn-more-link"><a href="mailto:boundaries@firecares.org?Subject=Jurisdictional Boundary Question" target="_top"><i class="fa fa-envelope-o"></i>FireCARES Jurisdictions</a></span>. Be sure to include your Fire Department Name and FDID as it is specified on <span class="learn-more-link"><a href="https://firecares.org">FireCARES</a></span>.
        </h4>
      </p>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          The data presented in Annual Structure Fires is Not Available or Incorrect. How do I update this information?
        </h3>
        <br>
        <h4><strong>A:</strong>
          The data presented here primarily comes from <span class="learn-more-link"><a href="https://www.nfirs.fema.gov/">NFIRS</a></span>. Depending on your department's reporting procedures there can exist inconsistencies between your local records and those in NFIRS. If you would like to update this data, please email <span class="learn-more-link"><a href="mailto:data@firecares.org?Subject=Local Fire Data" target="_top"><i class="fa fa-envelope-o"></i>FireCARES Data Update</a></span> to determine a work flow for updating data. Be sure to include your Fire Department Name and FDID as it is specified on <span class="learn-more-link"><a href="https://firecares.org">FireCARES</a></span>.
        </h4>
      </p>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          Why are there so many structures in N/A in the fire heat map when the Structure Hazard Level Distribution graph does not show as many N/A's?
        </h3>
        <br>
        <h4><strong>A:</strong>
          To classify the hazard level of the structure where a fire occurred, that fire needed to be geocoded and tied to a physical parcel. That parcel also needed to have information about the structure present. If the geocode of the fire did not get tied to a parcel (structure) or there was insufficient information describing that parcel then that fire was classified as an N/A. In most cases, this was due to issues the geocode of the fire placing the fire in the middle of street versus at a particular parcel. We are continually working on improving the quality of the geocoding, so this should improve over time.
        </h4>
      </p>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          Why do other departments have districts visualized and mine does not?
        </h3>
        <br>
        <h4><strong>A:</strong>
          We do not have fire district data for all departments. If you would like add your district data, please email <span class="learn-more-link"><a href="mailto:boundaries@firecares.org?Subject=Fire Districts Question" target="_top"><i class="fa fa-envelope-o"></i>FireCARES Fire Districts</a></span>. Be sure to include your Fire Department Name and FDID as it is specified on <span class="learn-more-link"><a href="https://firecares.org">FireCARES</a></span>.
        </h4>
      </p>

      <hr>
      <hr>


    <h1>Site Usage</h1>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          Why can I not see the parcel data layer in the map?
        </h3>
        <br>
        <h4><strong>A:</strong>
          Make sure you have un-clicked the radio button for 'Jurisdiction Boundary' in the map drop down. Also, trying zooming in on map. Note that the data may take a minute to load.
        </h4>
      </p>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          How are the community risk scores calculated?
        </h3>
        <br>
        <h4><strong>A:</strong>
        <span class="learn-more-link"><a href="https://firecares.org/risk-score">FireCARES Risk Score</a></span>
        </h4>
      </p>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          How are the community risk scores calculated?
        </h3>
        <br>
        <h4><strong>A:</strong>
        <span class="learn-more-link"><a href="https://firecares.org/community-risk">FireCARES Community Risk</a></span>
        </h4>
      </p>


    </div>
  </div>

</section>

{% endblock %}
