{% extends "firestation/_conservative_base.html" %}

{% load compress %}

{% block page_title %}
FAQs
{% endblock%}

{% block title %}
Frequently Asked Questions
{% endblock%}

{% block breadcrumbs %}
  <a href="{% url 'firestation_home' %}">Home</a>
{% endblock %}

{% block section %}

<section class="ct-u-paddingBoth60">
  <div class="container">
    <div class="row">
    <!-- =================================================================  -->
    <!-- =================================================================  -->   
    <h1>About</h1>
    <hr>
    <p>
      <h3><strong>Q:</strong>
        What is FireCARES?
      </h3>
      <br>
      <h4><strong>A:</strong>
        The Fire-Community Assessment Response Evaluation System, known as FireCARES, is a “big data” analytical system providing important information to fire service and community leaders about their local fire department and the risk environment in which firefighters are called to respond. FireCARES includes more than a decade of research on structure fires and related injuries and death, as well as building footprints, housing and mobile home units, public health and census data, and vulnerable populations. FireCARES combines large sets of data from various sources to “tell the story” of a fire department in regard to its risk environment, resource capacity, and overall capability to respond to emergency incidents.  

        The FireCARES project, funded by FEMA AFG, raises the bar for the technical discussion of community hazards and risks and the impact of changes to fire department resource levels. 
      </h4>
    </p>

    <hr>
    <p>
      <h3><strong>Q:</strong>
        Who built FireCARES?
      </h3>
      <br>
      <h4><strong>A:</strong>
        The same team of researchers, academics, and fire service professionals who conducted the NIST Residential Fireground Experiments (NIST TN 1661) and the NIST High-Rise Fireground Experiments (NIST TN 1797) built FireCARES. FireCARES partners include NIST, the International Association of Fire Chiefs (IAFC), the Metropolitan Fire Chiefs Association, the International Association of Fire Fighters (IAFF), the Commission on Fire Accreditation International (CFAI-Risk), Underwriters Laboratory Firefighter Safety Research Institute (UL FSRI), the Urban Institute, the University of Texas at Austin, and Worcester Polytechnic Institute.
      </h4>
    </p>

    <hr>
    <p>
      <h3><strong>Q:</strong>
        Who funded FireCARES?
      </h3>
      <br>
      <h4><strong>A:</strong>
        The FireCARES project is funded by Department of Homeland Security (DHS) FEMA Assistance to Firefighters Grants (AFG) (EMW-2015- FP-00312).
      </h4>
    </p>

    <hr>
    <p>
      <h3><strong>Q:</strong>
        Is there a cost to fire departments to use or add data to FireCARES?
      </h3>
      <br>
      <h4><strong>A:</strong>
        No, there is no cost to fire departments to use the system.
      </h4>
    </p>

    <hr>
    <hr>

    <!-- =================================================================  -->
    <!-- =================================================================  -->

    <h1>Login</h1>
    <hr>
    <p>
      <h3><strong>Q:</strong>
        Who can get login access for more specific fire department information in FireCARES?
      <br>
      <h4><strong>A:</strong>
        There are two levels of access to FireCARES, open public access and password restricted access. For Career or Combination Departments, login credentials will be provided to the fire chief, the local union president and/or their designees. For Volunteer Departments, login credentials will be provided to the fire chief or his/her designee.
      </h4>
    </p>
    
    <hr>
    <p>
      <h3><strong>Q:</strong>
        How do I get login access for others in my department? 
      <br>
      <h4><strong>A:</strong>
        First-time users will go to <span class="learn-more-link"><a href="https://firecares.org">FireCARES</a></span> and click on the login button. The login opening screen will require the name, email address, login username and password.  Following entry of these attributes, the user will click the “login” icon and be sent for immediate authentication.  Upon authentication, authorization will be given and the user will be logged into FireCARES.

        Upon initial login, a disclaimer, permissions statement, and accompanying site orientation will begin.  These items must be viewed, read, and acknowledged before the user is allowed to proceed.  This portion cannot be skipped and will clearly explain the responsibility of a FireCARES user.  An “agree” icon must be clicked before proceeding to the login template. Subsequent logins will proceed directly to the FireCARES page.

        An authenticated user (Chief and/or the local union president) can provide login authority to others in their department as they deem necessary and appropriate, but must keep a record of those authorized. To provide login authority, the Chief and/or local union president will provide a list of eligible emails to FireCARES administration.  Upon receipt, logins will be created for each email provided.
      </h4>
    </p>

    <hr>
    <h3><strong>Q:</strong>
      I am having trouble logging in. What can I do?
    </h3>
    <br>
    <h4><strong>A:</strong> There are multiple methods to login to FireCARES:</h4>
    <ol class="faq-list">
        <li>Local presidents or officers for fire departments can use IMIS credentials to <span class="learn-more-link"><a href="{% url 'login' %}">login</a></span> to FireCARES. [IMIS DOES NOT YET HAVE DEPARTMENT ASSOCIATIONS OR A MEANS TO DETERMINE IF AN INCOMING USER IS INDEED A LOCAL PRESIDENT OR OFFICER]</li>
        <li>Fire chiefs can <span class="learn-more-link"><a href="{% url 'login' %}">login</a></span> via the Helix single sign on service to authenticate with FireCARES.</li>
        <li>If you are a member of a specific organization [NEED LIST OF ORGANIZATION DOMAINS TO WHITELIST FOR SELF-REGISTRATION], you can <span class="learn-more-link"><a href="{% url 'registration_register' %}">self-register</a></span> to get a FireCARES account.</li>
        <li>If you work at a fire department, you may be able to send an account request through FireCARES that will notify your chief or local president of your account request.  <span class="learn-more-link"><a href="{% url 'firedepartment_list' %}">Search</a></span> for your department and click <strong>&quot;Request access from your fire chief or local president.&quot;</strong>  If fire chief or local president has registered with FireCARES for your department, then he/she will receive a notification to approve your account request.</li>
    </ol>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          When I am on a fire department page, the Performance Score and Safe Grade are grayed out?
        </h3>
        <br>
        <h4><strong>A:</strong>
          While a large portion of FireCARES is completely open, to see those features of FireCARES you need to be logged in. To obtain a login please XXX - tyler/joe/lori -- not sure the text that should go here.
        </h4>
      </p>

    <hr>
    <hr>

    <!-- =================================================================  -->
    <!-- =================================================================  -->

    <h1>Data</h1>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          How were the addresses for the Fire Stations determined? 
        </h3>
        <br>
        <h4><strong>A:</strong>
          A national fire station data layer is already pre-loaded in FireCARES. Fire Department leaders should review the list of stations to assure the addresses are correct and that all stations have been included.

          By selecting a station in the fire station list at the bottom of a department’s page, fire service leaders will be able to see if it’s located properly, as well as add response resources from each station in the resource tables. 
        </h4>
      </p>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          There are missing or incorrect stations or there is a issue regarding the composition of my department (i.e. Multiple landing pages for the same department). How do I fix this issue?
        </h3>
        <br>
        <h4><strong>A:</strong>
          We worked very hard to capture the fire stations for all the departments in the FireCARES system, but we recognize that fire stations change over time and we may not have identified everything station. Please send an email to: <span class="learn-more-link"><a href="mailto:stations@firecares.org?Subject=Station Data Question" target="_top"><i class="fa fa-envelope-o"></i>FireCARES Stations</a></span>. Be sure to include your Fire Department Name and FDID as it is specified on <span class="learn-more-link"><a href="https://firecares.org">FireCARES</a></span>.
        </h4>
      </p>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          My jurisdictional (geopolitical) boundary is missing or incorrect. How do I update this information?
        </h3>
        <br>
        <h4><strong>A:</strong>
          We used national data sets plus manual manipulation whenever possible to provide the best representation for jurisdictional boundaries for all departments in FireCARES. We also know that we do not have the same depth of knowledge about every community compared to those who serve that community. If you notice differences or if boundaries have changed, please send an email to: <span class="learn-more-link"><a href="mailto:boundaries@firecares.org?Subject=Jurisdictional Boundary Question" target="_top"><i class="fa fa-envelope-o"></i>FireCARES Jurisdictions</a></span>. Be sure to include your Fire Department Name and FDID as it is specified on <span class="learn-more-link"><a href="https://firecares.org">FireCARES</a></span>.
        </h4>
      </p>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          The data presented in Annual Structure Fires is Not Available or Incorrect. How do I update this information?
        </h3>
        <br>
        <h4><strong>A:</strong>
          The data presented here primarily comes from <span class="learn-more-link"><a href="https://www.nfirs.fema.gov/">NFIRS</a></span>. Depending on your department's reporting procedures there can exist inconsistencies between your local records and those in NFIRS. If you would like to update this data, please email <span class="learn-more-link"><a href="mailto:data@firecares.org?Subject=Local Fire Data" target="_top"><i class="fa fa-envelope-o"></i>FireCARES Data Update</a></span> to determine a work flow for updating data. Be sure to include your Fire Department Name and FDID as it is specified on <span class="learn-more-link"><a href="https://firecares.org">FireCARES</a></span>.
        </h4>
      </p>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          Why are there so many structures in N/A in the fire heat map when the Structure Hazard Level Distribution graph does not show as many N/A's?
        </h3>
        <br>
        <h4><strong>A:</strong>
          To classify the hazard level of the structure where a fire occurred, that fire needed to be geocoded and tied to a physical parcel. That parcel also needed to have information about the structure present. If the geocode of the fire did not get tied to a parcel (structure) or there was insufficient information describing that parcel then that fire was classified as an N/A. In most cases, this was due to issues the geocode of the fire placing the fire in the middle of street versus at a particular parcel. We are continually working on improving the quality of the geocoding, so this should improve over time.
        </h4>
      </p>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          Why do other departments have districts visualized and mine does not?
        </h3>
        <br>
        <h4><strong>A:</strong>
          We do not have fire district data for all departments. If you would like add your district data, please email <span class="learn-more-link"><a href="mailto:boundaries@firecares.org?Subject=Fire Districts Question" target="_top"><i class="fa fa-envelope-o"></i>FireCARES Fire Districts</a></span>. Be sure to include your Fire Department Name and FDID as it is specified on <span class="learn-more-link"><a href="https://firecares.org">FireCARES</a></span>.
        </h4>
      </p>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          Where did the fire data come from and can we add more current data?
        </h3>
        <br>
        <h4><strong>A:</strong>
        The fire data in FireCARES was extracted from historic NFIRS data housed at the USFA National Data Center. As you may note, the data are more than 2 years old. This situation exists because NFIRS datasets are continuously 2 years behind primarily due to data quality checks. Therefore, for FireCARES to work as intended, it is imperative that departments provide access to current response data through their records management system (RMS) or from their CAD system directly to the National Fire Operations Reporting System (NFORS) CAD Module. With NFORS, there is no cost to the department and no additional effort for firefighter data input. Additionally, once departments link with the NFORS CAD module, they may also use the NFORS Exposure Module for tracking firefighter exposure (both physical and behavioral) leading to an individual firefighter career exposure diary for each responder. 

        To link with the NFORS modules, please <span class="learn-more-link"><a href="mailto:data@firecares.org?Subject=Fire Data - NFORS" target="_top"><i class="fa fa-envelope-o"></i> FireCARES - NFORS</a></span>. Be sure to include your Fire Department Name and FDID as it is specified on <span class="learn-more-link"><a href="https://firecares.org">FireCARES</a></span>. Or you may go to <span class="learn-more-link"><a href="https://NFORS.org">NFORS</a></span> for more information.
        </h4>
      </p>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          Can we add GIS data layers to the maps?
        </h3>
        <br>
        <h4><strong>A:</strong>
        Yes. GIS data layers of any description may be added to the system for visualization and use in FireCARES. To add data, please select the “contact us” button on the website and send a message including your contact information. You will be contacted within 1 week to update the information. Suggested data sets to add to FireCARES include hydrants, building inspections, and smoke detector distributions.  
        </h4>
      </p>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          How do I add response resources (apparatus and crew sizes) to the station data?
        </h3>
        <br>
        <h4><strong>A:</strong>
        We do not have response resources for all departments. If you would like add your data, please email <span class="learn-more-link"><a href="mailto:data@firecares.org?Subject=Fire Response Resources" target="_top"><i class="fa fa-envelope-o"></i>FireCARES Fire Response Resources</a></span>. Be sure to include your Fire Department Name and FDID as it is specified on <span class="learn-more-link"><a href="https://firecares.org">FireCARES</a></span>.
        </h4>
      </p>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          Can we add EMS response data to the system?
        </h3>
        <br>
        <h4><strong>A:</strong>
        Yes, we do not currently have EMS data for all departments. If you would like add your EMS data, please email <span class="learn-more-link"><a href="mailto:data@firecares.org?Subject=EMS Data" target="_top"><i class="fa fa-envelope-o"></i>FireCARES EMS Data</a></span>. Be sure to include your Fire Department Name and FDID as it is specified on <span class="learn-more-link"><a href="https://firecares.org">FireCARES</a></span>.
        </h4>
      </p>

      <hr>
      <hr>

    <!-- =================================================================  -->
    <!-- =================================================================  -->


    <h1>Risk and Performance Scores</h1>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          How is the performance score calculated?
        </h3>
        <br>
        <h4><strong>A:</strong>
        Fire Department Performance Scores are determined using historic response data (response time and crew size), performance metrics from NFPA 1710 and 1720, and the operational task times from the NIST Residential and High-Rise Studies to calculate water on fire time.  As better operational data are gathered from individual fire departments, the performance scores will become more precise. For more information see:
        <span class="learn-more-link"><a href="https://firecares.org/performance-score">FireCARES Performance Score</a></span>
        </h4>
      </p>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          How are the community risk scores calculated?
        </h3>
        <br>
        <h4><strong>A:</strong>
        The Community Risk Score is based on the contributing factors to risk of structure fires, including population demographics, population density, smokers, structure type, building materials and occupancy type. For more information see:
        <span class="learn-more-link"><a href="https://firecares.org/community-risk">FireCARES Community Risk</a></span>
        </h4>
      </p>

      <hr>
      <p>
        <h3><strong>Q:</strong>
          How are the safe grades calculated?
        </h3>
        <br>
        <h4><strong>A:</strong>
        The Safe Grade is a comparison of the Community Risk Score and the Fire Department Performance Score.  It is a comparison of how well fire departments match resources deployed to the risk level of the community. For more information see:
        <span class="learn-more-link"><a href="https://firecares.org/safe-grades">FireCARES Safe Grades</a></span>
        </h4>
      </p>

    <!-- =================================================================  -->
    <!-- =================================================================  -->

    <h1>Site Usage</h1>

      <hr>
      <p>
        <h3><strong>Q:</strong>
        Can the scores be displayed by structure hazard level?
        </h3>
        <br>
        <h4><strong>A:</strong>
        Yes. By clicking the orange bar in the upper right of the FireCARES department page (above the Performance Score) the hazard level can be selected.
        </h4>
      </p>

      <hr>
      <p>
        <h3><strong>Q:</strong>
        How are the structure hazard levels determined?
        </h3>
        <br>
        <h4><strong>A:</strong>
        The hazard levels are determined using NFPA’s definition of low, medium, and high hazard structures.  

        <strong>&quot;High-Hazard Occupancies&quot;</strong> – High-rise buildings, hospitals, schools, nursing homes, explosive plants, refineries, public assembly structures, and other high life hazard or large fire potential occupancies.

        <strong>&quot;Medium-Hazard Occupancies&quot;</strong> – Apartments, offices, mercantile and industrial occupancies that may require extensive use of fire fighting forces.
        
        <strong>&quot;Low-Hazard Occupancies&quot;</strong> – One-, two- or three-family dwellings and scattered small business and industrial occupancies.
        </h4>
      </p>

      <hr>
      <p>
        <h3><strong>Q:</strong>
        Can I print features displayed in my departments FireCARES page?
        </h3>
        <br>
        <h4><strong>A:</strong>
        Yes. Any features displayed in the map area of your department’s FireCARES page may be printed using the ‘printer’ icon at the top right of the page.
        </h4>
      </p>

      <hr>
      <p>
        <h3><strong>Q:</strong>
        Can I store department relevant reports in FireCARES?
        </h3>
        <br>
        <h4><strong>A:</strong>
        Yes. By clicking the documents icon in the top right corner of a fire department’s page, annual reports, consultant reports, data summaries, and other documents can be uploaded and stored for future reference. 
        </h4>
      </p>

      <hr>
      <p>
        <h3><strong>Q:</strong>
        Can I do individual station response area maps in the FireCARES system?
        </h3>
        <br>
        <h4><strong>A:</strong>
        Yes. By selecting a station from the station list at the bottom of your department’s page, FireCARES will take you to a map featuring that station.  Then by clicking on the "stack of paper" icon in the upper right of the map, you may select "service area" and the system will calculate and display 4-minute, 6-minute- and 8-minute response map for crews responding from that station. To see each timed response, scroll over the area and each segment will be highlighted for you. Remember that all map displays may be printed for use in presentations or hard-copy reports. Note that these response maps do not current factor in traffic.
        </h4>
      </p>


      <hr>
      <p>
        <h3><strong>Q:</strong>
          Why can I not see the parcel data layer in the map?
        </h3>
        <br>
        <h4><strong>A:</strong>
          Click on the "stack of paper" icon in the upper right of the map and select "Parcels." Make sure you have un-clicked the radio button for "Jurisdiction Boundary" in the map drop down. Also, trying zooming in on map. Note that the data may take a minute to load.
        </h4>
      </p>


    </div>
  </div>

</section>

{% endblock %}
