{% extends "firestation/_conservative_base.html" %}

{% load compress %}
{% load staticfiles %}

{% block page_title %}
How to Videos
{% endblock%}

{% block title %}
How To Videos
{% endblock%}

{% block breadcrumbs %}
  <a href="{% url 'firestation_home' %}">Home</a>
  <a href="#">How to Videos</a>
{% endblock %}

{% block section %}

<div class="media">
    <section class="ct-u-paddingTop50">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="ct-u-marginBottom50">
                        <div class="row ct-u-marginBottom50">
                            <div class="col-md-6 col-md-push-6">
                                <h3 id="intro">FireCares Introduction
                                    <a href="#intro">
                                    <i class="fa fa-link"></i>
                                </a></h3>
                                <p class="ct-u-paddingTop10" style="opacity: .6"><b>Published:</b> December 2017</p>
                                <p>
                                    FireCARES contains the most recent <u>nationally available</u> data for fire departments throughout the U.S.  However, to maximize the system’s analytical potential, each Fire Department should “own their own data”.  Watch to learn how to update your department’s data and assure that department scores are calculated using the most recent data available to you.
                                </p>
                            </div>
                            <div class="col-md-6 col-md-pull-6">
                                <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe width="760" height="415" src="https://www.youtube.com/embed/AeeHwK9ipz0?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>
                                
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="ct-u-marginBottom50">
                          <div class="row ct-u-marginBottom50">
                            <div class="col-md-6">
                              <h3 id="data">How to Check Your Data<a href="#data">
                                    <i class="fa fa-link"></i>
                                </a></h3>
                              <p class="ct-u-paddingBoth10" style="opacity: .6"><b>Published:</b> December 2017</p>
                              <p>
                                  FireCARES contains the most recent nationally available data for fire departments throughout the U.S.  However, to maximize the system’s analytical potential, each Fire Department should “own their own data”.  Watch to learn how to update your department’s data and assure that department scores are calculated using the most recent data available to you.
                              </p>
                            </div>
                            <div class="col-md-6">
                                <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe width="760" height="415" src="https://www.youtube.com/embed/pPVWHmKqKfo?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>
                            </div>
                          </div>
                          <hr/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="ct-u-marginBottom50">
                          <div class="row ct-u-marginBottom50">
                            <div class="col-md-6 col-md-push-6">
                              <h3 id="numbers">By the Numbers<a href="#numbers">
                                    <i class="fa fa-link"></i>
                                </a></h3>
                              <p class="ct-u-paddingBoth10" style="opacity: .6"><b>Published:</b> December 2017</p>
                              <p>FireCARES calculates three scores. Watch to gain insight into the data used and how the scores are calculated.</p>
                            </div>
                            <div class="col-md-6 col-md-pull-6">
                                <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe width="760" height="415" src="https://www.youtube.com/embed/28scY3KOtT0?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>
                            </div>
                          </div>
                          <hr/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="ct-u-marginBottom50">
                          <div class="row ct-u-marginBottom50">
                            <div class="col-md-6">
                              <h3 id="tour">FireCares Video Tour
                                  <a href="#tour">
                                      <i class="fa fa-link"></i>
                                  </a>
                              </h3>
                              <p class="ct-u-paddingBoth10" style="opacity: .6"><b>Published:</b> December 2017</p>
                              <p>Take a site tour to assure you find all the exciting features of FireCARES. And watch for additional features coming soon!</p>
                            </div>
                            <div class="col-md-6">
                                <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe width="760" height="415" src="https://www.youtube.com/embed/KzY5hbVEGec?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>
                            </div>
                          </div>
                          <hr/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="ct-u-marginBottom50" id="use-nfors">
                        <h4>
                            How can my Department use NFORS data system?
                            <a name="use-nfors" href="#use-nfors">
                            </a>
                        </h4>
                        <p class="ct-u-marginTop10">
                            Go to <a target="_blank" href="http://www.NFORS.org">www.NFORS.org</a> for details
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}
