{% extends "firestation/_conservative_base.html" %}

{% block page_title %}
FireCARES · FireCARES API Access Terms
{% endblock %}

{% block meta_description %}
FireCARES API Access Terms
{% endblock %}

{% block title %}
FireCARES API Access Terms
{% endblock %}

{% block scrollspy %}
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'firestation_home' %}">Home</a>
    <a href="#">API Terms and Conditions</a>
{% endblock %}

{% block section %}
<header class="ct-mediaSection" data-stellar-background-ratio="0.3" data-type="parallax" data-bg-image="{{STATIC_URL}}images/firefighter-header.jpg" data-bg-image-mobile="assets/images/content/registration-parallax.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <p>
                        Effective March 1, 2019 (rev01.03)
                    </p>
                    <ol class="numbered">
                        <li>
                            <p>
                                <strong>Introduction.</strong>  FireCARES (“FireCARES”) is a web-based tool that allows users to analyze data from fire departments and other
                                public service providers.  The data behind FireCARES can be accessed programmatically through our Application Programming
                                Interface (“API”.)  These Terms of Use (“Terms”) govern your use of our API and the underlying FireCARES database.  FireCARES
                                and the API are provided by International Public Safety Data Institute (“IPSDI”, “we”, or “us”).  In this Agreement, the term
                                “you” means the person who (or the entity on whose behalf you are acting) is agreeing to these Terms.  By using or registering
                                to use the API, you signify electronically your agreement to be bound by these Terms.  If you do not agree to these Terms, do
                                not sign up for or use the API.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Updates.</strong>  These Terms are effective as of the date first written above.  We may update these terms from time to time by posting
                                such updated Terms to https://firecares.org/api-terms or by providing email notice to you.  Terms posted to https://firecares.org/api-terms
                                shall become effective upon posting.  Terms provided via email (or via a link in an email) shall become effective upon sending by us.
                                In the event of an update, by continuing to use the API you agree to be bound by any such updated Terms.  If you do not agree, you
                                must immediately stop using the API.  We may change or discontinue any feature of the API at any time without notice.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Registration.</strong>  We will open an account for you when you sign up for the API.  You must provide complete and accurate registration
                                information. You agree to keep this information up-to-date. You represent and warrant that: (1) you have the full power, authority,
                                and legal capacity to enter into the Agreement and follow its obligations, (2) if you are registering on behalf of a company or
                                other entity, you have the authority to bind your principal or employer company, and (3) all information that you provide is true and current.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Termination.</strong>  You may stop using the API at any time.  We may cancel or suspend your access to the API at any time, without cause
                                and/or without notice and without further liability or obligation. 
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Special Terms.</strong> There are a few conditions for you use of the API:
                            </p>
                            <ol class="numbered">
                                <li>
                                    <p>
                                        <strong>Attribution.</strong>  All information and data obtained through the API, and extractions or extrapolations from such data, must be attributed
                                        to the International Public Safety Data Institute as the source of the underlying data.  For example, if you publish an article or
                                        paper with a graph or a chart that embodies data obtained through the API, the graph or a chart must include a legend identifying
                                        “Source: International Public Safety Data Institute” or other similar identification.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Limitations on Use.</strong>  API access is provided to allow you to programmatically pull select data from our databases for the limited
                                        purpose of synthesizing and analyzing data and conducting certain research.  You are not allowed to pull or download portions of
                                        the database beyond what is immediately necessary for your business or research purpose.  You are not allowed to store or cache
                                        data obtained through the API.  You may access the API for you own purposes only.  You may not use or access the API on behalf of
                                        any other person or entity.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Publicity.</strong>  We may advertise on our website that you or your organization are using or accessing the API or FireCARES.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Ownership; No Resale.</strong> We own the data accessed through the API and, subject to Paragraph 6, are granting you a limited license to
                                        use the API to access data in the FireCARES database. Except for limited extracts of data and analysis as may be embodied in your
                                        research, articles, or publications, you are not to sell or resell data or extracts of data obtained through the API.  You may
                                        not sell or sublicense your API access or data (or extracts of data) from the FireCARES database.
                                    </p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <p>
                                <strong>License.</strong>  We grant you a personal, non-exclusive, non-transferable, limited and revocable license to access and use the API to
                                obtain data from the FireCARES database for your own use and provided that you comply and remain in compliance with this Agreement.
                                You may not circumvent any mechanisms for preventing the unauthorized access, reproduction, or distribution of the API the FireCARES
                                database. Your license terminates immediately upon cancellation or termination of your account or if we believe you are in violation
                                of these Terms.  You may not (a) sell or redistribute the API or the FireCARES database (or extractions therefore) or provide your
                                user credentials to another person or entity, (b) incorporate any aspect of the API or the FireCARES database into another product,
                                or (c) reverse engineer, decompile or disassemble the API or the FireCARES database  or otherwise attempt to derive or extract the
                                raw data through the API. You may not modify, adapt or create derivative works from the API or the FireCARES database in any way
                                or remove proprietary notices posted associated with the API or the FireCARES database.  You may access or the FireCARES database
                                only through the API, software, interfaces, and protocols provided or authorized by us. You may not authorize or assist any third
                                party to do any of the things prohibited in this paragraph. Any rights not specifically licensed to you for any the API or the
                                FireCARES database are reserved by IPSDI.  Your license will end on the date your account is closed.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>No Warranty.</strong>  We provide the API and the underlying FireCARES database “as is”, “with all faults” and “as available.” YOUR USE OF
                                THE API AND FIRECARES DATABASE THE IS AT YOUR OWN RISK. We make no express warranties or guarantees about the API or any of its
                                information. TO THE EXTENT PERMITTED BY LAW, WE DISCLAIM IMPLIED WARRANTIES THAT THE API FIRECARES DATABASE ARE MERCHANTABLE, OF
                                SATISFACTORY QUALITY, ACCURATE, FIT FOR A PARTICULAR PURPOSE OR NEED, TIMELY, RELIABLE, NON-INFRINGING, free of viruses, bugs, or
                                other harmful components. WE DO NOT GUARANTEE THAT THE DATA OR RESULTS THAT MAY BE OBTAINED FROM YOUR USE OF ANY OF THE FOREGOING
                                WILL BE EFFECTIVE, RELIABLE, ACCURATE OR MEET YOUR REQUIREMENTS. WE DO NOT GUARANTEE THAT YOU WILL BE ABLE TO ACCESS OR USE THE API
                                AT TIMES OR LOCATIONS OF YOUR CHOOSING. NO ORAL OR WRITTEN INFORMATION OR ADVICE GIVEN BY OUR REPRESENTATIVES SHALL CREATE A WARRANTY.
                                <br/><br/>
                            </p>
                            <p style="margin-inline-start: 0">
                                Every effort is made to assure that all information published is correct. However, we disclaim any liability for errors or omissions
                                in the services and you assume the risk of possible errors or omissions. No advice is intended or offered in making any of the information
                                available, and we disclaim any and all liability related to any decision taken by a party in reliance upon any information provided.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Limited Liability.</strong> WE SHALL NOT BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES ARISING FROM
                                YOUR USE OF THE API OR FIRECARES DATABASE. THESE EXCLUSIONS APPLY TO ANY CLAIMS FOR LOST PROFITS, LOST DATA, LOSS OF GOODWILL, WORK
                                STOPPAGE, COMPUTER FAILURE, COMPUTER INFECTION, OR MALFUNCTION, OR ANY OTHER COMMERCIAL DAMAGES OR LOSSES, EVEN IF WE KNEW OR SHOULD
                                HAVE KNOWN THE POSSIBILITY OF SUCH DAMAGES. BECAUSE SOME STATES OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR THE LIMITATION OF LIABILITY
                                FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH STATES OR JURISDICTIONS, OUR LIABILITY IN SUCH STATE OR JURISDICTION SHALL BE LIMITED
                                TO THE EXTENT PERMITTED BY LAW. IN NO EVENT SHALL OUR CUMULATIVE LIABILITY TO YOU FOR ANY AND ALL CLAIMS RELATING TO THE USE OF THE 
                                PI EXCEED THE TOTAL AMOUNT YOU ACTUALLY PAID TO IPSDI.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Indemnification.</strong>  Upon a request by us, you agree to indemnify, defend and hold harmless IPSDI and its subsidiaries and affiliates
                                and their respective employees, attorneys, assigns, successors-in-interest, contractors, vendors, suppliers, licensors, licensees
                                and sublicensees, from and against any and all claims, damages, causes of action, costs (including reasonable attorneys’ fees) and
                                other expenses that arise directly or indirectly out of or from: (1) your actual or alleged breach of these Terms; and (2) your
                                activities or omissions in connection with the information provided via the API. We reserve the right, at our own expense, to assume
                                the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will cooperate with
                                us in asserting any available defenses.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>This is an Electronic Contract.</strong>  Your affirmative act of using and continuing to use the API constitutes your electronic signature
                                to these Terms and your consent to enter into agreements with us electronically. You also agree that we may send to you in electronic
                                form any privacy or other notices, disclosures, reports, documents, communications or other records regarding the API (collectively,
                                “Notices”). We can send you electronic Notices (1) to the e-mail address that you provided to us during registration or (2) by posting
                                the Notice on the applicable FireCARES web page. The delivery of any Notice from us is effective when sent by us, regardless of whether
                                you read the Notice when you receive it or whether you actually receive the delivery. You can withdraw your consent to receive
                                Notices electronically by canceling or discontinuing your use of the applicable Service.<br/><br/>
                            </p>
                            <p style="margin-inline-start: 0">
                                In order to receive Notices electronically, you must constantly maintain the email address or web address which you have provided to us.
                                All contracts completed electronically will be deemed for all legal purposes to be in writing and legally enforceable as a signed writing.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Miscellaneous.</strong>  These Terms and any supplemental terms, updates, policies, rules and guidelines posted on the FireCARES website constitute
                                the entire agreement between you and us and supersede all previous written or oral agreements relating to the access and use of the API.
                                If any part of these Terms is held invalid or unenforceable, that portion shall be construed in a manner consistent with applicable law
                                to reflect, as nearly as possible, the original intentions of the parties, and the remaining portions shall remain in full force and
                                effect.  You agree that the laws of the Commonwealth of Virginia govern this contract and any claim or dispute that you may have against
                                us, without regard to conflict of laws rules. You further agree that any disputes or claims that you may have against us will be resolved
                                by a court located in Arlington County, Virginia, and you consent to personal and subject matter jurisdiction in such courts.  We may
                                assign this contract at any time without notice to you. You may not assign this contract to anyone else.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Contact.</strong>  If you have any questions or concerns about these Terms, about any information that we may have collected or stored, please
                                contact us directly at IPSDI, 10317 Burnell Rd., Nokesville, VA 20181, <a href="mailto:hello@i-psdi.org">hello@i-psdi.org</a>.
                            </p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
