{% extends "firestation/_conservative_base.html" %}

{% block page_title %}
FireCARES · FireCARES Disclaimer and Terms of Use
{% endblock %}

{% block meta_description %}
Disclaimer and terms of use for the FireCARES project.
{% endblock %}

{% block title %}
FireCARES Disclaimer and Terms of Use
{% endblock %}

{% block scrollspy %}
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'firestation_home' %}">Home</a>
    <a href="#">Disclaimer</a>
{% endblock %}

{% block section %}
<header class="ct-mediaSection" data-stellar-background-ratio="0.3" data-type="parallax" data-bg-image="{{STATIC_URL}}images/firefighter-header.jpg" data-bg-image-mobile="assets/images/content/registration-parallax.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <p>The information contained in this website is for general information purposes only. While every effort is made to keep the information up-to-date and accurate, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services or related graphics contained on the website for any purpose.</p>

<p>In no event will the partners listed on the website or the funders of the project be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.</p>

<p>Through this website you are able to link to other websites which are not under the control of “FireCARES.” We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.</p>

<p>Every effort is made to keep the website up and functioning. However, “FireCARES” or the associated partners take no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.</p>

<p>Certain commercial entities, technology, equipment, or materials may be identified in this website application in order to describe a procedure or concept adequately.  Such identification is not intended to imply recommendation or endorsement by “FireCARES” or the partners listed on the website, nor is it intended to imply that the entities, materials or equipment are necessarily the best available for the purpose.</p>

<hr/>

<p class="text-center"><strong>
    Although we make every effort to accurately represent information in FireCARES, source data used in determining performance
    scores, community assessments and safe grades may at times be inaccurate due to the quality and or quantity of underlying data sources
    and could adversely affect these metrics.
</strong></p>
                </div>
                <div class="row ct-u-marginTop50">
                    <form class="accept-terms" method="POST" action="">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="I accept these terms"/>
                        <a href="{% url 'logout' %}?next=/" class="btn btn-default">I do not accept these terms</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
