{% extends 'registration/registration_base.html' %}
{% load widget_tweaks %}

{% block meta_title %}
Sign in · FireCARES
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'firestation_home' %}">Home</a>
    <a href="{% url 'login' %}">Login</a>
{% endblock %}

{% block form %}
    <div class="form-group">
    <div class="ct-form--label--type2">
        <div class="ct-u-displayTableVertical">
            <div class="ct-u-displayTableCell">
                <div class="ct-input-group-btn">
                    <button class="btn btn-primary">
                        <i class="fa fa-user"></i>
                    </button>
                </div>
            </div>
            <div class="ct-u-displayTableCell text-center">
                <span class="text-uppercase">LOGIN TO FIRECARES</span>
            </div>
        </div>
    </div>
    {% with WIDGET_ERROR_CLASS='form-error' %}
    <div class="ct-form--item ct-u-marginBottom20 form-group">
        <label>Your Username</label>
        {% render_field form.username type="text" class+="form-control input-lg" %}
        {{ form.username.errors }}
    </div>
    <div class="ct-form--item ct-u-marginBottom20 form-group">
        <label>Password</label>
        {% render_field form.password type="password" class+="form-control input-lg" %}
        {{ form.password.errors }}
    </div>
    {{ form.non_field_errors }}
    {% endwith %}
    <div class="ct-form--item ct-u-marginBottom20">
         <a href="{% url 'password_reset' %}">Forgot Password</a> <a href="{% url 'forgot_username' %}">or Username</a>
    </div>
    <div class="ct-form--item">
        <button type="submit" class="btn btn-warning center-block">Login</button>
    </div>
</div>
{% endblock %}
