{% extends 'registration/registration_base.html' %}
{% load widget_tweaks %}

{% block breadcrumbs %}
    <a href="{% url 'firestation_home' %}">Home</a>
    <a href="{% url 'login' %}">Login</a>
{% endblock %}

{% block form %}
    <div class="form-group">
    <div class="ct-form--label--type2">
        <div class="ct-u-displayTableVertical">
            <div class="ct-u-displayTableCell">
                <div class="ct-input-group-btn">
                    <button class="btn btn-primary">
                        <i class="fa fa-user"></i>
                    </button>
                </div>
            </div>
            <div class="ct-u-displayTableCell text-center">
                <span class="text-uppercase">RESET PASSWORD</span>
            </div>
        </div>
    </div>
    <div class="ct-form--item ct-u-marginBottom20 form-group">
      <div class="ct-form--item">
        <label>Your password has been set.  You may go ahead and log in now.</label>
      </div>
    </div>
    <div class="ct-form--item form-group">
      <div class="ct-form--item">
        <a href="{{ login_url }}" class="btn btn-warning center-block">Login</a>
      </div>
    </div>
</div>
{% endblock %}
