{% extends 'registration/registration_base.html' %}
{% load widget_tweaks %}

{% block breadcrumbs %}
    <a href="{% url 'firestation_home' %}">Home</a>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'password_reset' %}">Password Reset</a>
    <a href="#">Confirm</a>
{% endblock %}

{% block form %}
    <div class="form-group">
    <div class="ct-form--label--type2">
        <div class="ct-u-displayTableVertical">
            <div class="ct-u-displayTableCell">
                <div class="ct-input-group-btn">
                    <button class="btn btn-primary">
                        <i class="fa fa-user"></i>
                    </button>
                </div>
            </div>
            <div class="ct-u-displayTableCell text-center">
                <span class="text-uppercase">CHANGE YOUR PASSWORD</span>
            </div>
        </div>
    </div>
    {% with WIDGET_ERROR_CLASS='form-error' %}
    <div class="ct-form--item ct-u-marginBottom20 form-group">
        <label>New password</label>
        {% render_field form.new_password1 type="password" class+="form-control input-lg" %}
        {{ form.new_password1.errors }}
    </div>
    <div class="ct-form--item ct-u-marginBottom20 form-group">
        <label>Confirm password</label>
        {% render_field form.new_password2 type="password" class+="form-control input-lg" %}
        {{ form.new_password2.errors }}
    </div>
    {{ form.non_field_errors }}
    {% endwith %}
    <div class="ct-form--item">
        <button type="submit" class="btn btn-warning center-block">Change my password</button>
    </div>
</div>
{% endblock %}
